// page
$first-point: 568px;
$second-point: 667px;
$third-point: 768px;
$fourth-point: 1024px;
$fifth-point: 1170px;
$sixth-point: 1366px;
$sixth-point-xlg: 1600px;
$seventh-point: 1625px;

// PAGE
$page-horizontal-gap: 15px;
$page-horizontal-gap-sm: 45px;
$page-horizontal-gap-md: 50px;
$page-width: 1340px;

// FONTS
$font-main: 'Ubuntu', sans-serif;;
$font-weight: 400;
$line-height: 1.5;

$font-size-h1: 24px;
$font-size-h1-sm: 32px;
$font-size-h1-lg: 64px;

$font-size-h2: 20px;
$font-size-h2-sm: 24px;
$font-size-h2-lg: 36px;

$font-size-h3: 20px;
$font-size-h3-sm: 24px;
$font-size-h3-lg: 36px;

$font-size: 16px;
$font-size-sm: 18px;

$font-size-h-sm: $font-size-sm;
$font-size-h: $font-size;