$theme-name: 'theme';

//common
$primary-text: #2F2E41;
$secondary-text: #fff;
$primary-fill: #fff;
$secondary-fill: #F1F2F4;
$link-default: #e44f36;
$primary-title: #2F2E41;

//header
$header-bg: #fff;
$header-bd: 1px solid #EDF2F5;
$header-color: #2F2E41;

//footer
$footer-bg: #FFF;
$footer-bd: #EDF2F5;

//popup
$popup-close-btn: #2F2E41;
$popup-close-btn-hov: #fff;
$popup-subtitle: #2F2E41;
$popup-title: #2F2E41;
$popup-input-bd: #555;
$popup-input-bd-hov: #555;
$popup-input-color: #555;

//form
$form-input-bd: #2F2E41;
$form-input-placeholder: #2F2E41;