mixin slider
    .slider
        .slider__wrap.js-slider
            .slider__slide
                .slider__slide-txt
                    h1 Монтаж комплексных </br>систем безопасности
                    p Комплексные системы безопасности (КСБ) – это комплекс инженерных систем, обеспечивающие безопасность на территории защищаемого объекта. Заказать проектирование и монтаж систем безопасности можно на официальном сайте компании ТОВ «ІБК «Територія Безпеки» – t-security.com.ua

                .slider__slide-img
                    img(src="static/img/content/password.svg")

            .slider__slide
                .slider__slide-txt
                .slider__slide-img
                    img(src="static/img/content/password.svg")
        .mouse