.slider {
    position: relative;

    &__wrap {

        .slick-slide {
            min-height: 100vh;
            padding-top: 10px;
        }

        .slick-dots {
            @extend %ul-reset;
            display: flex;
            position: absolute;
            bottom: 12%;
            left: 0;
            right: 0;
            width: 80px;
            margin: 0 auto;
            justify-content: space-between;
            li button{
                @extend %bttn-reset;
                width: 10px;
                height: 10px;
                background: #E1E1E1;
                border-radius: 50%;
                font-size: 0;
            }

            .slick-active button {
                background: #0077FF;
            }

        }
    }


    &__slide-txt {
        h1 {

            margin: 0;
        }
    }



    @include respond-from(sm) {
        &__slide-img {
            max-width: 400px;
            margin: 0 auto;
            width: 100%;
        }
    }
    @include respond-from(md) {
        &__wrap {
            .slick-dots {
                margin: 0;
            }

            .slick-slide {
                padding-top: 60px;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }

        &__slide-txt {
            max-width: 706px;
        }

        &__slide-img {
            max-width: 600px;
            width: 100%;
        }
    }

    @include respond-from(lg) {
        &__wrap {
            .slick-slide {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }

        &__slide-txt {
            max-width: 706px;
        }

        &__slide-img {
            max-width: 574px;
            width: 100%;
        }
    }
}