mixin slider
    .slider
        .slider__wrap.js-slider
            .slider__slide
                .slider__slide-txt
                    h1 Монтаж комплексных систем безопасности
                    p Комплексные системы безопасности (КСБ) – это комплекс инженерных систем, обеспечивающие безопасность на территории защищаемого объекта. Заказать проектирование и монтаж систем безопасности можно на официальном сайте компании ТОВ «ІБК «Територія Безпеки» – t-security.com.ua.
                    p Монтаж комплексных систем безопасности проводят для обеспечения полного контроля охраняемой территории. В комплектацию КСБ входят:
                        ul
                            li контроль доступа – это первое, о чем необходимо позаботиться предприятию. Охрана не всегда справляется с поставленной задачей, да и человеческий фактор иногда играет важную роль. Автоматизированный доступ – это установка турникетов, шлагбаумов, сканеров лиц и автомобильных номеров;
                            li видеонаблюдение. Комплект видеонаблюдения обеспечивает круглосуточное слежение за объектом, как снаружи, так и внутри. Видеонаблюдение эффективно для охраны административных зданий, крупных и мелких промышленных предприятий, частных домов и складских помещений;
                            li охранная сигнализация устанавливается для защиты периметра территорий, зданий;
                            li <strong> установка системы пожарной безопасности – это своевременное выявление и предупреждение об опасности возгорания. Существует несколько видов оборудования, которые реагируют на дым, повышение температуры, пламя. Чтобы обеспечить высокую степень защиты, нужно устанавливать комбинированную пожарную сигнализацию.</strong>
                .slider__slide-img
                    img(src="static/img/content/password.svg")

            .slider__slide
                .slider__slide-txt
                    h2 Функциональные возможности КСБ
                    p КСБ выполняют функции контроля и защиты, обеспечивающие стабильную работу предприятий и организаций. Основная функция – это охрана имущества от внешних и внутренних угроз:
                    ul
                        li хищение имущества и документации;
                        li коллекторский захват объекта;
                        li возникновение пожароопасной ситуации, которая может причинить материальные потери.Именно системы безопасности своевременно оповещают о подобных угрозах, а также обеспечивают высокую степень контроля доступа на охраняемые объекты.
                .slider__slide-img
                    img(src="static/img/content/password.svg")
            .slider__slide
                .slider__slide-txt
                    h2 Состав КСБ
                    p Монтаж комплексных систем безопасности проводят для обеспечения полного контроля охраняемой территории. В комплектацию КСБ входят:
                    ul
                        li контроль доступа – это первое, о чем необходимо позаботиться предприятию. Охрана не всегда справляется с поставленной задачей, да и человеческий фактор иногда играет важную роль. Автоматизированный доступ – это установка турникетов, шлагбаумов, сканеров лиц и автомобильных номеров;
                        li видеонаблюдение. Комплект видеонаблюдения обеспечивает круглосуточное слежение за объектом, как снаружи, так и внутри. Видеонаблюдение эффективно для охраны административных зданий, крупных и мелких промышленных предприятий, частных домов и складских помещений;
                        li охранная сигнализация устанавливается для защиты периметра территорий, зданий;
                        li <strong> установка системы пожарной безопасности – это своевременное выявление и предупреждение об опасности возгорания. Существует несколько видов оборудования, которые реагируют на дым, повышение температуры, пламя. Чтобы обеспечить высокую степень защиты, нужно устанавливать комбинированную пожарную сигнализацию.</strong>
                .slider__slide-img
                    img(src="static/img/content/password.svg")

            .slider__slide
                .slider__slide-txt
                    h2 Преимущества установки КСБ
                    p Основные преимущества комплексного подхода к монтажу технических систем безопасности:
                    ul
                        li интегрированность всех систем в единое информационное пространство;
                        li при правильном проектировании и монтаже комплексных систем безопасности обеспечивается высокая степень надежности коммуникаций;
                        li оперативность – установка КСБ обеспечивает оперативный сбор и передачу информации.
                .slider__slide-img
                    img(src="static/img/content/password.svg")

