mixin header()
    header.header.js-header
        .w-center
            .header__wrapper.js-header-toggle
                a(href="/").header__logo-wrap
                    .header__logo
                        img(src="static/img/content/logo.svg" alt="logo")
                .header__countries-wrap
                    +countries
                    .header__burger-menu-wrap.js-header-burger
                        .header__burger-menu
                            span
                            span
                            span
                    nav.header__nav
                        .header__nav-wrap
                            .header__navi
                                ul.header__list.header__menu-inner.lng-header
                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/", data-gxlang='inicio.home') Головна
                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(data-gxlang='nav.about', href="/about.html") Компанія
                                    li.header__list-item.header__menu-item.drop-wrap

                                        .header__menu-link.header__list-link.header__link Послуги
                                        ul.header__dropdown
                                            li.header__dropdown-item
                                                a.header__dropdown-link( href='/alarm.html') Охоронна сигналізація
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/automation.html') Автоматизація та диспетчеризація</br> інженерних систем
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/ckc.html') Структуровані кабельні системи (СКС)
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/electrical.html') Електромонтажні роботи
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/fire.html') Системи пожежної безпеки
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/multimedia.html') Мультимедійні системи
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/skud.html') Системи контролю доступу (СКУД)
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/video.html') Відеоспостереження

                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="#contacts") Контакти
                                    li.header__list-item.header__menu-item
                                        .btn-wrap
                                            button.btn.popup-btn.lng-enu-btn Зв'язатися з нами