mixin header()
    header.header.js-header
        .w-center
            .header__wrapper.js-header-toggle
                a(href="/").header__logo-wrap
                    .header__logo
                        img(src="static/img/content/logo.svg" alt="logo")
                .header__burger-menu-wrap.js-header-burger
                    .header__burger-menu
                        span
                        span
                        span
                nav.header__nav
                    .header__nav-wrap
                        .header__navi
                            ul.header__list.header__menu-inner
                                li.header__list-item.header__menu-item
                                    a.header__menu-link.active.header__list-link.js-to-item(href="/") Главная
                                li.header__list-item.header__menu-item
                                    a.header__menu-link.header__list-link.js-to-item(href="/about.html") Компания
                                li.header__list-item.header__menu-item.drop-wrap

                                    .header__menu-link.header__list-link.header__link Услуги
                                    ul.header__dropdown
                                        li.header__dropdown-item
                                            a.header__dropdown-link(href='/alarm.html') Монтаж систем охранной сигнализации
                                        li.header__dropdown-item
                                            a.header__dropdown-link(href='/automation.html') Автоматизация и диспетчеризация</br> инженерных систем зданий
                                        li.header__dropdown-item
                                            a.header__dropdown-link(href='/ckc.html') Задачи и преимущества СКС
                                        li.header__dropdown-item
                                            a.header__dropdown-link(href='/electrical.html') Электромонтажные работы
                                        li.header__dropdown-item
                                            a.header__dropdown-link(href='/fire.html') Установка автоматических систем противопожарной защиты
                                        li.header__dropdown-item
                                            a.header__dropdown-link(href='/multimedia.html') Монтаж мультимедийных систем
                                        li.header__dropdown-item
                                            a.header__dropdown-link(href='/skud.html') Установка системы СКУД
                                        li.header__dropdown-item
                                            a.header__dropdown-link(href='/video.html') Установка систем видеонаблюдения

                                li.header__list-item.header__menu-item
                                    a.header__menu-link.header__list-link.js-to-item(href="#contacts") Контакты
                                li.header__list-item.header__menu-item
                                    .btn-wrap
                                        button.btn.popup-btn Связаться с нами