body {
    background-color: $primary-fill;
    font-weight: $font-weight;
    color: $primary-text;
}

html {
    height: 100%;

   font-size: $font-size;

    @include respond-from(sm) {
        font-size: $font-size;
    }
}

h1 {
    font-size: $font-size-h1;

    @include respond-from(sm) {
        font-size: $font-size-h1-sm;
    }

    @include respond-from(lg) {
        font-size: $font-size-h1-lg;
    }
}

img {
    display: inline-block;
    width: 100%;

    @include support(object-fit, cover) {
        width: 100%;
        object-fit: cover;
    }
}

//Footer bottom
.w-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.w-inner {
    flex: 1 0 auto;
}

footer {
    flex: 0 0 auto;
}
//Footer bottom END

//MAIN WRAPPERS
.w-center {
    width: 100%;
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $page-horizontal-gap;

    @include respond-from(sm-md) {
        padding: 0 $page-horizontal-gap-sm;
    }

    @include respond-from(md-xl) {
        padding: 0 $page-horizontal-gap-md;
    }
}


