body {
    background-color: $primary-fill;
    font-weight: $font-weight;
    color: $primary-text;
}

html {
    height: 100%;

   font-size: $font-size;

    @include respond-from(sm) {
        font-size: $font-size-sm;
    }
}

h1 {
    font-size: $font-size-h1;
    line-height: 1.1;

    @include respond-from(sm) {
        font-size: $font-size-h1-sm;
    }

    @include respond-from(lg) {
        font-size: $font-size-h1-lg;
    }
}
h3 {
    text-align: center;
    font-size: $font-size-h2;
    line-height: 1.1;

    @include respond-from(sm) {
        font-size: $font-size-h2-sm;
    }

    @include respond-from(lg) {
        font-size: $font-size-h2-lg;
    }
}

//gap

.w-gap {
    margin-top: 40px;
}

.w-gap-sm {
    margin-top: 20px;

    @include respond-from(md) {
        margin-top: 40px;
    }
}

.w-gap-md {
    margin-top: 20px;

    @include respond-from(sm) {
        margin-top: 40px;
    }

    @include respond-from(md) {
        margin-top: 100px;
    }
}

.w-gap-lg {
    margin-top: 70px;

    @include respond-from(sm) {
        margin-top: 80px;
    }

    @include respond-from(md) {
        margin-top: 150px;
    }
}

.w-gap-xl {
    margin-top: 40px;

    @include respond-from(sm) {
        margin-top: 80px;
    }

    @include respond-from(md) {
        margin-top: 150px;
    }
}


img {
    display: inline-block;
    width: 100%;

    @include support(object-fit, cover) {
        width: 100%;
        object-fit: cover;
    }
}

.btn {
    @extend %bttn-reset;
    background: #0181FF;
    color: $secondary-text;
    line-height: 1;
    padding: 12px 28px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    border-radius: 3px;
    transition: all .25s ease-in-out;
    &:after {
        content: "";
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        border: 1px solid #fff;
        border-radius: 3px;
    }

    &:hover {
        background: #FF6584;
        color: #fff;
    }
}

.btn-secondary {
    @extend %bttn-reset;
    background: $secondary-text;
    color: #0181FF;;
    line-height: 1;
    padding: 12px 28px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    border-radius: 3px;
    transition: all .25s ease-in-out;

    &:after {
        content: "";
        position: absolute;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
        border: 1px solid #0181FF;
        border-radius: 3px;
    }

    &:hover {
        background: #FF6584;
        color: #fff;

        &:after {
            border-color: #fff;
        }
    }
}

.colored {
    color: #0181FF;
}

.text-center {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

//Footer bottom
.w-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.w-inner {
    flex: 1 0 auto;
}

.fixed-position {
    position: fixed;
    right: 0;
    left: 0;
}

.msg-wrap {
    position: fixed;
    bottom: 0;
    left: calc(50% - 100px);
    width: 200px;
    height: 64px;
    z-index: 9999;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    text-align: center;

    .msg {
        padding: 20px;
        transform: translate(0px, 0px) !important;
    }
}

footer {
    flex: 0 0 auto;
}
//Footer bottom END

//MAIN WRAPPERS
.w-center {
    width: 100%;
    max-width: $page-width;
    margin-right: auto;
    margin-left: auto;
    padding: 0 $page-horizontal-gap;

    @include respond-from(sm-md) {
        padding: 0 $page-horizontal-gap-sm;
    }

    @include respond-from(md-xl) {
        padding: 0 $page-horizontal-gap-md;
    }
}

.text {
    display: flex;
    flex-direction: column-reverse;
    &__wrap {
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
    }

    &__img {
        max-width: 187px;
        margin: 20px auto 0;
    }

    &__left, &__right {
        padding: 18px 25px;
        background: #0181FF;
        border-radius: 15px;
        color: #fff;
        width: fit-content;
        text-align: center;
    }

    &__right {
        display: flex;
        justify-content: flex-end;
        max-width: 688px;
    }

    @include respond-from(sm) {
        &__left, &__right {
            text-align: left;
        }

    }

    @include respond-from(md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__img {
            margin-right: 60px;

        }

        &__wrap {
            display: flex;
            flex-direction: column;
        }

        &__right {
            align-self: flex-end;
            max-width: 488px;
        }
    }

    @include respond-from(lg) {
        justify-content: space-between;

        &__wrap {
            margin: 0;
        }

        &__img {
            margin: 0;

        }

        &__right {
            max-width: 688px;
        }
    }
}

.control {
    background: #0181FF;
    overflow: hidden;
    &__wrap {
        padding: 40px 0;
    }

    &__title {
        color: #fff;
        margin: 0;
        text-align: center;
    }

    &__center {
        color: #fff;
        max-width: 494px;
        text-align: center;
        margin: 0 auto;
        font-size: 21px;
    }

    &__block {
        max-width: 380px;
        margin: 0 auto 20px;
    }

    &__block-img {
        display: none;
    }

    &__block-content {
        border-radius: 15px;
        padding: 20px;
        background: #fff;
        text-align: center;
    }

    @include respond-from(lg) {


        &__wrap {
            position: relative;

        }
        &__blocks-wrap {
            display: flex;
            justify-content: space-between;
            gap: 0 20px;
        }

        &__block {
            margin: 0;
            overflow: hidden;
            z-index: 99;
        }

        &__first-col {
            margin-top: 40px;
            align-self: center;
            justify-content: center;

            .control__block-img {
                z-index: 1;
                top: -30px;
                left: 92px;
                max-width: 186px;
                position: absolute;
            }
        }

        &__second-col {
            overflow: hidden;
            .control__block-img {
                min-height: 370px;
                top: -37px;
                left: calc( 50% - 92px);
                max-width: 184px;
                position: absolute;
            }
        }

        .control__block-content--nth {
            position: relative;
            display: flex;
            justify-content: center;
            overflow: visible;

            .control__block-img {
                top: -70%;
                left: calc( 50% - 43px);
                max-width: 80px;
                position: absolute;
            }
        }

        &__third-col {
            align-self: center;
            margin-top: -40px;
            .control__block-img {
                z-index: 1;
                top: -80px;
                max-height: 514px;
                right: 98px;
                max-width: 184px;
                position: absolute;
            }
        }
    }

    @include respond-from(lg) {
        &__block-img {
            display: block;
        }

        &__blocks-wrap {
            gap: 0;
        }

    }


}

.benefits {

    &__img {
        max-width: 464px;
        margin: 0 auto 20px;
    }
    &__text {
        text-align: center;
    }

    &__items {
        margin-top: 30px;
    }

    &__item {
        padding: 18px 25px;
        background: #0181FF;
        border-radius: 15px;
        color: #fff;
        width: fit-content;
        text-align: center;
        margin: 0 auto 20px;
        max-width: 390px;
    }

    @include respond-from(sm) {
        &__wrap {
            display: flex;
        }

        &__items-up {
            width: 100%;
        }

        &__items-up {
            display: flex;
            justify-content: space-between;
            gap: 0 20px;
        }

    }

    @include respond-from(lg) {
        display: flex;
        flex-direction: column;

        &__title {
            font-size: 24px;
        }

        &__wrap {
            justify-content: space-between;
        }

        &__item {
            margin: 0;
        }

        &__items {
            max-width: 954px;
            width: 100%;
            z-index: 90;
            position: relative;
            margin: -80px 0 0 0;
            align-self: flex-end;

        }

        &__item-third {
            margin: 40px auto;
            max-width: 330px;
        }

        &__img {
            margin: 0;
        }

        &__text-wrap {
            position: relative;
            max-width: 740px;
            width: 100%;

            &:after {
                content: "";
                position: absolute;
                bottom: -20%;
                width: 75%;
                height: 273px;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("data:image/svg+xml,%3Csvg width='575' height='274' viewBox='0 0 575 274' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.2583 73.7888L14.6117 87.6521L14.7827 94.3602C14.8131 95.5523 14.8265 96.7451 14.8739 97.9378C14.903 98.6704 14.8456 100.053 15.7481 100.262C16.4323 100.25 17.0823 100.022 17.6131 99.6066C18.6029 99.0609 19.5788 98.4885 20.5612 97.9297L26.0888 94.7855L37.5127 88.2875C37.8091 88.1375 38.1579 88.1182 38.4858 88.2337C38.8136 88.3491 39.0948 88.5902 39.2699 88.9063C39.4451 89.2223 39.5007 89.5886 39.4248 89.9278C39.349 90.2669 39.1477 90.5526 38.8635 90.7244C32.2316 94.4967 25.6402 98.3508 18.9639 102.043C17.8668 102.81 16.5099 103.109 15.1493 102.884C14.4085 102.639 13.7435 102.162 13.2484 101.521C12.7532 100.879 12.453 100.104 12.39 99.3068C12.1822 97.3803 12.1018 95.4506 12.1496 93.5315L11.9957 87.4943L11.6423 73.6309C11.6493 73.2776 11.7878 72.9507 12.0286 72.7192C12.2694 72.4877 12.5936 72.3698 12.933 72.3903C13.2724 72.4108 13.6003 72.568 13.8475 72.8289C14.0948 73.0898 14.2421 73.434 14.2583 73.7887L14.2583 73.7888Z' fill='%233F3D56'/%3E%3Cpath d='M158.497 34.8123C136.835 38.7573 121.002 56.2527 99.5032 60.7279C94.5884 61.8108 89.4706 61.9838 84.375 61.2392C79.9221 60.4124 75.5133 59.2251 71.1893 57.6882C62.3802 54.8096 52.9322 51.8969 44.6801 56.561C33.8133 62.703 30.3211 76.1713 27.3625 87.9946C26.9443 89.6657 24.4047 88.8224 24.8233 87.1495C27.542 76.2851 30.5802 64.7292 38.9134 57.3169C42.6119 53.9202 47.2915 51.8527 52.3342 51.3875C56.8159 51.1763 61.3544 51.7855 65.7473 53.1877C70.299 54.4873 74.7671 56.1724 79.3331 57.4036C84.1358 58.7538 89.0682 59.2265 93.9058 58.8004C104.334 57.7819 113.802 53.1083 122.687 48.0446C133.841 41.6881 144.875 34.4844 157.79 32.1323C159.419 31.8356 160.138 34.5134 158.497 34.8123L158.497 34.8123Z' fill='%233F3D56'/%3E%3Cpath d='M281.086 53.2784L282.103 110.189L282.103 262C282.133 263.7 279.451 263.235 279.421 261.555L278.694 69.0304L278.405 52.833C278.375 51.1335 281.056 51.5982 281.086 53.2784Z' fill='%233F3D56'/%3E%3Cpath d='M295.728 243.293C293.704 253.953 289.458 263.946 283.247 272.663C283.124 272.817 282.964 272.938 282.78 273.018C282.597 273.099 282.394 273.135 282.187 273.126C281.981 273.116 281.776 273.061 281.588 272.963C281.4 272.866 281.235 272.729 281.104 272.564L262.025 248.989C260.911 247.613 263.016 246.109 264.132 247.488L283.211 271.063L281.068 270.963C287.02 262.618 291.096 253.053 293.047 242.847C293.359 241.207 296.042 241.643 295.728 243.293L295.728 243.293Z' fill='%233F3D56'/%3E%3Cpath d='M526.217 52.1289L547.24 105.957L553.165 121.129C553.794 122.738 551.364 123.643 550.741 122.048L529.718 68.2194L523.792 53.0477C523.164 51.4386 525.594 50.5331 526.217 52.1289Z' fill='%233F3D56'/%3E%3Cpath d='M559.828 101.959C561.778 113.044 561.579 124.514 559.245 135.661C559.199 135.866 559.11 136.059 558.985 136.225C558.861 136.391 558.703 136.525 558.525 136.618C558.347 136.71 558.153 136.759 557.958 136.759C557.763 136.76 557.571 136.713 557.398 136.622L532.789 122.758C532.504 122.589 532.294 122.305 532.205 121.966C532.116 121.628 532.154 121.261 532.311 120.944C532.468 120.626 532.732 120.382 533.047 120.264C533.362 120.146 533.703 120.162 533.999 120.31L558.609 134.173L556.762 135.133C559.018 124.464 559.233 113.481 557.396 102.858C557.099 101.156 559.528 100.241 559.828 101.959L559.828 101.959Z' fill='%233F3D56'/%3E%3C/svg%3E%0A");
            }
        }


    }
}

.attention {
    color: #fff;

    &__text {
        max-width: 1024px;
    }

    &__item {
        padding: 20px;
        border-radius: 15px;
        background: #FF6584;
    }

    &__img {
        max-width: 92px;
        margin: 20px auto 0;
    }


    @include respond-from(lg) {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        &__item {
            display: flex;
            align-items: center;
        }

    }
}

.contact {
    background: #0181FF;
    color: #fff;
    position: relative;

    &__wrap {
        padding: 40px 0;
    }

    &__title {
        margin: 0 0 20px 0;
    }

    &__text {
        max-width: 477px;
        margin: 0 auto;
        text-align: center;
    }

    &__icons {
        max-width: 830px;
        margin: 40px auto;
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 10px;
        width: 290px;
    }

    a {
        width: 100%;
        text-decoration: none;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .25s ease-in-out;
        &:before {
            content: "";
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 20px;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }

    &__mail-wrap:before {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23fff'/%3E%3Cpath d='M23.942 10.589a1.343 1.343 0 0 0-1.11-.589H8.343c-.45 0-.848.226-1.092.568l8.364 6.974 8.328-6.953Z' fill='%230181FF'/%3E%3Cpath d='M7 11.757v9.9C7 22.397 7.604 23 8.342 23h14.49c.739 0 1.343-.604 1.343-1.342v-9.866l-8.561 7.148L7 11.757Z' fill='%230181FF'/%3E%3C/svg%3E");
    }

    &__mail-wrap {
        &:hover {

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23FF6584'/%3E%3Cpath d='M23.942 10.589a1.343 1.343 0 0 0-1.11-.589H8.343c-.45 0-.848.226-1.092.568l8.364 6.974 8.328-6.953Z' fill='%23fff'/%3E%3Cpath d='M7 11.757v9.9C7 22.397 7.604 23 8.342 23h14.49c.739 0 1.343-.604 1.343-1.342v-9.866l-8.561 7.148L7 11.757Z' fill='%23fff'/%3E%3C/svg%3E");
            }
        }
    }

    &__phone-wrap:before {
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0Zm8.449 23.346-1.281 1.281c-.229.229-.898.371-.92.371a15.12 15.12 0 0 1-10.822-4.424A15.138 15.138 0 0 1 7 9.714c0-.001.147-.652.375-.878l1.281-1.281c.469-.471 1.37-.684 2-.473l.27.09c.629.21 1.289.906 1.463 1.547l.644 2.365c.174.643-.06 1.557-.53 2.026l-.854.855a9.086 9.086 0 0 0 6.388 6.391l.855-.856c.471-.47 1.385-.705 2.026-.531l2.365.646c.641.176 1.336.833 1.547 1.461l.09.274c.209.629-.002 1.53-.471 1.996Z' fill='%23fff'/%3E%3C/svg%3E");
    }

    &__phone-wrap {

        &:hover {

            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='14' fill='%23fff'/%3E%3Cpath d='M16 0C7.164 0 0 7.164 0 16s7.164 16 16 16 16-7.164 16-16S24.836 0 16 0Zm8.449 23.346-1.281 1.281c-.229.229-.898.371-.92.371a15.12 15.12 0 0 1-10.822-4.424A15.138 15.138 0 0 1 7 9.714c0-.001.147-.652.375-.878l1.281-1.281c.469-.471 1.37-.684 2-.473l.27.09c.629.21 1.289.906 1.463 1.547l.644 2.365c.174.643-.06 1.557-.53 2.026l-.854.855a9.086 9.086 0 0 0 6.388 6.391l.855-.856c.471-.47 1.385-.705 2.026-.531l2.365.646c.641.176 1.336.833 1.547 1.461l.09.274c.209.629-.002 1.53-.471 1.996Z' fill='%23FF6584'/%3E%3C/svg%3E");
            }
        }

    }

    &__img {
        width: 32px;
        height: 32px;
        margin-right: 20px;
    }

    &__btn-wrap {
        text-align: center;
    }

    &__right-side {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        iframe {
            width: 100%;
            max-width: 400px;
            margin: 0 auto;
            height: 250px;
        }
    }

    @include respond-from(md) {
        &__wrap {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &__left-side {
            width: 50%;
        }

        &__right-side {
            width: 50%;
            margin-top: 0;

            iframe {
                height: 300px;
            }
        }

        &__icons {
            max-width: 500px;
            margin: 0 auto 20px;
            flex-flow: row wrap;
            display: flex;
            justify-content: space-between;
            text-align: center;
        }

        &__icon {
            margin: 10px 0;
            width: fit-content;

            &:nth-child(3) {
                margin: 10px auto;
            }
        }
    }

    @include respond-from(xlg) {

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 2%;
            height: 421px;
            width: 286px;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("data:image/svg+xml,%3Csvg width='276' height='421' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='a' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='276' height='421'%3E%3Cpath fill='%23C4C4C4' d='M0 0h276v421H0z'/%3E%3C/mask%3E%3Cg mask='url(%23a)'%3E%3Cpath d='M87.88 394.335c-.1-.7-1.2-.7-2.1-1.5-5.7-4.3 11.5-5.1 13.1-5.2 5.701-.1 11.601.7 17.301.3 14.5-1 28.9-4.5 43.5-4 12.5.4 25.1 3.8 37.4 1.3 2.6-.5 5.3-1.3 7.7-.3 2.4 1 3.7 4.7 1.6 6.2 10.2.6 20.5 1.3 30.7 1.9.9.1 1.9.2 2.5.9.6.8.2 2.1-.6 2.7-.8.6-1.9.8-2.9 1-11.1 1.8-22.2 3.5-33.3 5.3 7.8.6 15.5 2.9 22.4 6.7 1.4.8 3 2 2.6 3.5-.3 1.5-2.2 2.1-3.7 2.3-16.4 2.3-33.3 1.4-49.4-2.5 1.8 1.3 1 4.3-.9 5.4-1.9 1.1-4.2.8-6.4.5-7.3-1.1-14.6-2.1-21.9-3.2 1.2 2.5-1 5.5-3.7 6.2-2.7.7-5.5 0-8.2-.5-14-2.3-27.7 3.7-41.7 4-2.4 0-4.9 0-7.1-1.1-5.3-2.5-5.2-8.9-.9-12.3 2-1.5 4.3-2.2 6.5-3.2-1.2.6-5.4-.6-6.8-.7-2.6-.2-5.2-.3-7.8-.6-5-.5-9.9-1.4-14.7-2.6-1-.2-2-.5-2.7-1.3-1.9-2.3 2-4.1 3.6-4.4 4.9-1.1 9.9-1.6 14.9-2.1 2.4-.2 4.9 0 7.3-.6.9-.2 3.2-.7 3.6-1.6 0-.1.1-.3.1-.5ZM140.881 362.535c-.7.5-1.9.4-2.5-.3-.6-.7-.8-1.7-.4-2.6.4-.8 1.2-1.4 2.1-1.6 1-.2 2.2.2 2.9 1 .8.8-1.2 2.8-2.1 3.5ZM138.481 338.535c.8-.5 1.7-.6 2.6-.5.4 0 .7.1 1.1.2 4.1 1.3 2.2 4.1-1 4-2 0-6.2-1.6-2.7-3.7ZM55.58 405.935c-1.4.3-2.8.3-4.2 0-1.4-.3-2.8-.9-4-1.6-.6-.4-1.2-.8-1.7-1.6-.2-.4-.3-1-.2-1.5.2-.5.5-.9.9-1.1.7-.4 1.6-.4 2.2-.4.7 0 1.3 0 1.9-.3-.4.6-1.2.9-1.9 1-.6.1-1.1.2-1.6.6-.4.4-.4.6-.2 1s.8.7 1.3 1.1c2.3 1.4 4.8 2.3 7.5 2.8ZM44.28 405.035c-.6.4-1.4.6-2.2.5-.8-.1-1.5-.4-2.2-.8-.6-.4-1.2-1.1-1.5-1.7-.3-.7-.5-1.5-.3-2.2.8 1.3 1.6 2.1 2.7 2.8 1 .6 2.1 1.1 3.5 1.4Z' fill='%23fff'/%3E%3Cpath d='M73.98 417.435c-.7.4-1.5.4-2.3.2-.8-.2-1.5-.7-2-1.4s-.7-1.5-.7-2.3c0-.8.4-1.6 1-2.1-.1.8 0 1.4.1 2 .1.6.4 1.1.7 1.6.3.5.7.9 1.3 1.2.6.3 1.2.6 1.9.8ZM183.281 420.835c2 .2 4 .3 6 .4 2 .1 4 .2 6 .2s4-.1 6-.2 4-.3 6-.4c-1.9.7-3.9 1.2-5.9 1.5-2 .3-4.1.5-6.1.5s-4.1-.2-6.1-.5-4-.8-5.9-1.5ZM227.381 419.135l-.2-.1c2.5-.5 5-1.3 7.1-2.5 1.1-.6 2.1-1.3 3-2.1.9-.8 1.6-1.8 1.2-2.6-.2-.8-1.4-1.3-2.6-1.7-1.2-.4-2.5-.7-3.7-1l-7.5-1.8c2.6 0 5.2.2 7.7.7 1.3.2 2.5.5 3.8.8.6.2 1.3.4 2 .7.6.3 1.3.9 1.6 1.8.3.8.1 1.8-.3 2.4-.4.7-.9 1.2-1.4 1.6-1.1.8-2.2 1.5-3.4 2.1-2.4 1.1-5 1.7-7.6 1.6l.3.1ZM236.38 399.935c1.5-.7 3-1.4 4.6-1.9 1.5-.6 3.401-.9 3.801-1.9.5-.8-1.101-2-2.301-2.8-1.3-.8-2.8-1.4-4.5-1.9 1.7-.2 3.4.2 5 .9.8.4 1.5.8 2.2 1.4.4.3.701.7.901 1.2.2.5.2 1.2 0 1.7-.5 1.1-1.5 1.6-2.3 1.8-.9.2-1.601.4-2.401.6-1.7.4-3.4.7-5 .9ZM199.781 382.435c2.1-1.1 4.7-1.2 7-.5 1.2.3 2.2.9 3.2 1.6 1 .7 1.8 1.6 2.3 2.7-1.9-1.3-3.8-2.3-5.9-2.9-2.1-.8-4.3-1-6.6-.9Z' fill='%23fff'/%3E%3Cpath d='M183.581 390.435h3.9c1.3-.1 2.5-.2 3.8-.4.6-.1 1.2-.2 1.9-.4.6-.1 1.2-.3 1.6-.5.3-.2.4-.6 0-1-.3-.4-1-.6-1.6-.7.6-.1 1.4-.2 2.1.2.3.2.6.6.7 1.1.1.5-.1 1-.4 1.3-.6.7-1.4.8-2 1-.7.2-1.3.3-2 .5-2.7.3-5.6.1-8-1.1ZM175.48 390.835c2.4.9 4.8 1.6 7.3 2 1.2.2 2.5.3 3.7.3 1.2 0 2.5 0 3.8-.1-1.2.6-2.4 1-3.8 1.2-1.3.2-2.7.2-4 0-2.6-.5-5.2-1.6-7-3.4ZM98.677 400.251c-.428.075-.68.411-.648.697-.11.311.001.656.176.916.35.522.922 1.077 1.414 1.573.985.993 2.113 1.96 3.161 2.869 1.048.908 2.302 1.708 3.476 2.448 1.175.741 2.492 1.456 3.809 2.171-1.474-.177-2.981-.641-4.345-1.129-1.381-.631-2.635-1.431-3.825-2.314-1.128-.968-2.192-2.019-3.13-3.239-.43-.58-.858-1.16-1.177-2.051-.112-.345-.113-1.001.14-1.337.173-.395.648-.697.95-.604ZM189.081 409.335l3 .3c1 .1 1.9.2 2.9.2 1 .1 1.9.1 2.9.2.5 0 .9 0 1.2-.2.4-.2.7-.5.7-1 .3.5.1 1.2-.3 1.6-.4.4-1 .6-1.6.7-1 .2-2.1.2-3.1.2-1.9-.3-4-.8-5.7-2ZM186.38 406.435c.5-.5 1.201-.9 1.901-1.2.7-.3 1.399-.5 2.099-.6.7-.1 1.501-.1 2.201 0 .7.1 1.399.3 2.099.7-.7.2-1.399.3-2.099.4-.7.1-1.3.2-2 .3-.7.1-1.3.2-2 .2-.8.1-1.501.2-2.201.2ZM123.881 391.735c3.1-1 6.3-1.4 9.5-1.6 3.2-.2 6.5-.2 9.7-.1 6.5.2 12.9.8 19.3 2.1 3.2.6 6.3 1.4 9.5 2.2 1.6.4 3.1.9 4.7 1.4.8.3 1.6.5 2.4.9.4.2.8.6 1.1 1.1.3.5.3 1.1.2 1.6-.2 1-.9 1.8-1.7 2.3-.8.5-1.6.7-2.3 1-1.5.5-3.1 1.1-4.6 1.5-3.1.9-6.3 1.7-9.5 2.4-6.4 1.3-12.9 1.9-19.4 1.9-6.5 0-13-.6-19.4-1.7-3.2-.5-6.4-1.2-9.5-1.9-1.6-.3-3.2-.7-4.7-1.3-.8-.3-1.5-.6-2.1-1.2-.1-.2-.3-.3-.4-.5l-.3-.6c-.1-.4 0-.9.2-1.2.5-.7 1.2-1.1 1.9-1.5.7-.4 1.5-.7 2.2-1 1.5-.6 2.9-1.4 4.4-2.1 2.8-1.4 5.7-2.8 8.8-3.7Zm0 0c-3.1 1-6 2.5-8.8 3.9-1.4.7-2.8 1.5-4.4 2.1-.7.3-1.5.6-2.2 1-.7.4-1.4.8-1.8 1.5-.5.7-.1 1.5.5 2s1.3.8 2.1 1.1c1.5.5 3.1.8 4.7 1.1 3.2.5 6.4 1.2 9.6 1.6 6.4.9 12.8 1.4 19.2 1.2 6.4-.1 12.8-.8 19.1-2.1 3.1-.6 6.3-1.4 9.4-2.3 1.5-.5 3.1-.9 4.6-1.5.8-.3 1.5-.5 2.1-.9.6-.4 1-.9 1.1-1.5.1-.6-.1-1.1-.7-1.4-.6-.4-1.3-.6-2.1-.9-1.5-.5-3-1.1-4.6-1.5-3.1-1-6.2-1.8-9.3-2.5-6.3-1.4-12.7-2.3-19.2-2.6-3.2-.1-6.5-.1-9.7 0-3.3.3-6.5.7-9.6 1.7Z' fill='%23BFDFFF'/%3E%3Cpath d='M120.781 399.135c-.2-.9.3-1.8 1.1-2.3.8-.5 1.7-.6 2.6-.7 10.7-1.4 21.5-2.9 32.3-1.8 1.1.1 2.3.3 3.2.8 1 .5 1.8 1.6 1.7 2.7-.1 1.7-1.9 2.6-3.5 3.1-6.8 2.4-14.1 3.4-21.3 2.8-3.3-.3-15.1-.8-16.1-4.6Z' fill='%23BFDFFF'/%3E%3Cpath d='M132.281 398.235c1.9.3 4-.7 5-2.4.4-.7.6-1.6 1.1-2.3.5-.7 1.3-1.3 2.1-1.1.8.2 1.2.9 1.5 1.6.3.7.5 1.5 1 2.1.9 1.1 2.5 1.2 3.9 1.1 1.1-.1 6.5.2 3.8 1.8' fill='%23BFDFFF'/%3E%3Cpath d='M132.281 398.235c2.2 0 4.1-1.3 4.7-3.1l.6-1.5c.3-.5.7-1.1 1.2-1.5.5-.4 1.4-.6 2.2-.2.7.3 1.1.9 1.4 1.4.5 1.1.7 2.1 1.3 2.6.6.5 1.6.7 2.6.7 1.1 0 2.2.1 3.3.4.5.1 1.1.3 1.6.6.1.1.3.2.3.4s-.1.4-.2.5c-.2.2-.5.3-.7.4.2-.2.4-.4.5-.6.1-.2 0-.3-.2-.4-.4-.2-1-.2-1.5-.3-1.1-.1-2.1-.1-3.1.1-1.1.1-2.4 0-3.5-.7-.5-.4-.9-1-1.1-1.6-.2-.5-.4-1.1-.6-1.4-.2-.4-.5-.7-.7-.8-.3-.1-.6-.1-.9.1-.7.4-1.1 1.3-1.6 2.3-.9 2.1-3.5 3.2-5.6 2.6Z' fill='%23BFDFFF'/%3E%3Cpath d='M142.805 306.216c-1.307.925-3.549.74-4.669-.555-1.121-1.295-1.494-3.146-.747-4.811.747-1.481 2.241-2.591 3.922-2.961 1.868-.37 4.109.37 5.416 1.85 1.308 1.481-2.428 5.182-3.922 6.477ZM138.369 254.804c1.408-.944 2.992-1.133 4.575-.944.704 0 1.232.189 1.936.378 7.215 2.454 3.871 7.74-1.76 7.552-3.519 0-10.909-3.021-4.751-6.986ZM132 200.001c0-4.214 2.314-8.428 6.052-10.536 3.738-2.107 8.543-2.282 12.459-.175 2.67 1.405 4.806 4.039 4.45 7.024-.178 1.931-1.602 3.687-3.204 5.092-1.602 1.405-3.204 2.634-4.628 4.215-2.136 2.809-3.559 8.604-8.187 6.848-3.916-1.405-6.942-8.604-6.942-12.468ZM125.526 135.913c-16.408-8.564-28.137-26.092-28.783-44.856-.646-18.763 8.388-37.739 24.51-48.628 10.868-7.49 25.442-10.412 36.345-2.967 7.16 4.615 11.118 13.7 13.348 22.761 2.23 9.06 3.777 17.765 7.05 26.493 6.62 13.985 26.302 31.276 10.108 45.638-13.388 12.316-47.537 9.409-62.578 1.559ZM62.372 5.529C22.54-15.261-5.933-57.811-7.501-103.36c-1.568-45.549 20.362-91.614 59.5-118.048 26.382-18.18 61.761-25.275 88.228-7.202 17.382 11.203 26.989 33.257 32.403 55.253 5.414 21.995 9.168 43.125 17.115 64.313 16.07 33.948 63.849 75.925 24.536 110.787-32.498 29.899-115.397 22.842-151.91 3.786Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
}

.video-banner {
    position: relative;

    display: flex;

    &__wrap {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    &__text {
        margin-bottom: 20px;

        h1 {
            margin: 0;
        }
    }

    &__video {
        video {
            width: 100%;
            max-width: 600px;
        }
    }

    @include respond-from(sm) {
        align-items: center;
        height: 100vh;
        &__wrap {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        &__text {
            margin-right: 40px;
        }
    }
}

.mouse {
    display: none;
    width: 26px;
    height: 42px;
    border: 2px solid #0181FF;
    border-radius: 24px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

    &:after {
        content: '';
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -2px;
        background-color: #0181FF;
        border-radius: 100%;
        width: 4px;
        height: 4px;
        opacity: 1;
        transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
        animation: scroll 1.5s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
    }

    @include respond-from(md) {
        display: block;
    }
}

.decorated-list {
    @extend %ul-reset;
    margin-left: 20px;

    &__item {
        margin-bottom: 25px;
        &:before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 0 10px 2px 0;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 4C7 5.65685 5.65685 7 4 7C2.34315 7 1 5.65685 1 4C1 2.34315 2.34315 1 4 1C5.65685 1 7 2.34315 7 4ZM8 4C8 6.20914 6.20914 8 4 8C1.79086 8 0 6.20914 0 4C0 1.79086 1.79086 0 4 0C6.20914 0 8 1.79086 8 4ZM4 6C5.10457 6 6 5.10457 6 4C6 2.89543 5.10457 2 4 2C2.89543 2 2 2.89543 2 4C2 5.10457 2.89543 6 4 6Z' fill='%230181FF'/%3E%3C/svg%3E%0A");
        }

    }
}
