.footer {
    background: $footer-bg;
    padding: 40px 0;

    &__wrap {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    &__menu, &__social-block {
        width: 50%;
    }

    &__logo-wrap,&__adress {
        width: 100%;
    }

    &__logo {
        max-width: 147px;
        margin-bottom: 20px;

        img {
            display: inline-block;
            width: 100%;

            @include support(object-fit, cover) {
                width: 100%;
                object-fit: cover;
            }
        }
    }


    &__title {
        text-decoration: none;
        text-transform: uppercase;
        color: #066BFF;
        font-weight: 700;
        font-size: 14px;
        margin-bottom: 10px;
    }

    &__list {
        @extend %ul-reset;
        margin-bottom: 20px;
    }

    &__menu-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        color: #2F2E41;
        transition: all .25s ease-in-out;


        &:hover {
            color: #0181FF;
        }
    }

    &__fb, &__inst,&__telegram {
        &:before {
            content: "";
            display: inline-block;
            background-repeat: no-repeat;
            background-size: contain;
            width: 32px;
            height: 32px;
        }

    }

    &__inst {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='12' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 16C0 7.163 7.163 0 16 0s16 7.163 16 16-7.163 16-16 16S0 24.837 0 16Zm16-8.533c-2.317 0-2.608.01-3.518.051-.908.042-1.528.186-2.07.397a4.178 4.178 0 0 0-1.513.984 4.19 4.19 0 0 0-.985 1.511c-.211.543-.355 1.163-.396 2.071-.04.91-.051 1.201-.051 3.52 0 2.317.01 2.607.051 3.517.042.908.186 1.528.397 2.07a4.18 4.18 0 0 0 .984 1.513c.474.474.95.767 1.511.985.543.21 1.163.354 2.072.396.91.041 1.2.052 3.518.052 2.317 0 2.607-.01 3.518-.052.908-.042 1.529-.185 2.072-.396a4.175 4.175 0 0 0 1.51-.985c.475-.475.767-.95.985-1.512.21-.543.354-1.163.397-2.071.04-.91.051-1.2.051-3.518 0-2.318-.01-2.608-.051-3.518-.043-.909-.187-1.53-.397-2.072A4.187 4.187 0 0 0 23.1 8.9a4.17 4.17 0 0 0-1.51-.984c-.545-.211-1.165-.355-2.074-.397-.91-.041-1.2-.051-3.518-.051h.003Z' fill='%230181FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.235 9.005h.766c2.278 0 2.548.008 3.448.049.832.038 1.284.177 1.584.294.399.154.682.339.981.638.299.298.484.583.639.981.116.3.256.752.294 1.584.04.9.05 1.17.05 3.447 0 2.278-.01 2.548-.05 3.447-.039.832-.178 1.284-.294 1.584-.155.399-.34.682-.639.98a2.64 2.64 0 0 1-.98.639c-.301.117-.753.256-1.585.294-.9.04-1.17.05-3.448.05-2.279 0-2.549-.01-3.448-.05-.832-.038-1.284-.177-1.585-.294a2.643 2.643 0 0 1-.981-.639 2.645 2.645 0 0 1-.639-.98c-.117-.3-.256-.752-.294-1.584-.04-.9-.049-1.17-.049-3.449s.008-2.548.05-3.447c.037-.832.176-1.284.293-1.584.155-.399.34-.683.639-.982.298-.298.583-.483.981-.638.3-.118.753-.256 1.585-.295.787-.035 1.092-.046 2.682-.048v.003Zm5.32 1.416a1.024 1.024 0 1 0 0 2.048 1.024 1.024 0 0 0 0-2.048Zm-4.554 1.197a4.383 4.383 0 1 0 0 8.765 4.383 4.383 0 0 0 0-8.765Z' fill='%230181FF'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 13.155a2.845 2.845 0 1 1 0 5.69 2.845 2.845 0 0 1 0-5.69Z' fill='%230181FF'/%3E%3C/svg%3E");
        }

        &:hover {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='12' fill='%23fff'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 16C0 7.163 7.163 0 16 0s16 7.163 16 16-7.163 16-16 16S0 24.837 0 16Zm16-8.533c-2.317 0-2.608.01-3.518.051-.908.042-1.528.186-2.07.397a4.178 4.178 0 0 0-1.513.984 4.19 4.19 0 0 0-.985 1.511c-.211.543-.355 1.163-.396 2.071-.04.91-.051 1.201-.051 3.52 0 2.317.01 2.607.051 3.517.042.908.186 1.528.397 2.07a4.18 4.18 0 0 0 .984 1.513c.474.474.95.767 1.511.985.543.21 1.163.354 2.072.396.91.041 1.2.052 3.518.052 2.317 0 2.607-.01 3.518-.052.908-.042 1.529-.185 2.072-.396a4.175 4.175 0 0 0 1.51-.985c.475-.475.767-.95.985-1.512.21-.543.354-1.163.397-2.071.04-.91.051-1.2.051-3.518 0-2.318-.01-2.608-.051-3.518-.043-.909-.187-1.53-.397-2.072A4.187 4.187 0 0 0 23.1 8.9a4.17 4.17 0 0 0-1.51-.984c-.545-.211-1.165-.355-2.074-.397-.91-.041-1.2-.051-3.518-.051h.003Z' fill='%23FF6584'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.235 9.005h.766c2.278 0 2.548.008 3.448.049.832.038 1.284.177 1.584.294.399.154.682.339.981.638.299.298.484.583.639.981.116.3.256.752.294 1.584.04.9.05 1.17.05 3.447 0 2.278-.01 2.548-.05 3.447-.039.832-.178 1.284-.294 1.584-.155.399-.34.682-.639.98a2.64 2.64 0 0 1-.98.639c-.301.117-.753.256-1.585.294-.9.04-1.17.05-3.448.05-2.279 0-2.549-.01-3.448-.05-.832-.038-1.284-.177-1.585-.294a2.643 2.643 0 0 1-.981-.639 2.645 2.645 0 0 1-.639-.98c-.117-.3-.256-.752-.294-1.584-.04-.9-.049-1.17-.049-3.449s.008-2.548.05-3.447c.037-.832.176-1.284.293-1.584.155-.399.34-.683.639-.982.298-.298.583-.483.981-.638.3-.118.753-.256 1.585-.295.787-.035 1.092-.046 2.682-.048v.003Zm5.32 1.416a1.024 1.024 0 1 0 0 2.048 1.024 1.024 0 0 0 0-2.048Zm-4.554 1.197a4.383 4.383 0 1 0 0 8.765 4.383 4.383 0 0 0 0-8.765Z' fill='%23FF6584'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 13.155a2.845 2.845 0 1 1 0 5.69 2.845 2.845 0 0 1 0-5.69Z' fill='%23FF6584'/%3E%3C/svg%3E");
            }
        }
    }

    &__telegram {

        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%230181FF'/%3E%3Cpath d='M21.701 8.182 7.526 14.71c-.57.304-.764.913-.138 1.243l3.636 1.38 8.793-6.49c.48-.407.972-.298.549.15l-7.552 8.166-.237 3.455c.22.534.622.536.879.271l2.089-2.36 3.578 3.2c.831.587 1.284.207 1.462-.87l2.347-13.271c.244-1.326-.171-1.91-1.23-1.402Z' fill='%23fff'/%3E%3C/svg%3E");
        }

        &:hover {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23FF6584'/%3E%3Cpath d='M21.701 8.182 7.526 14.71c-.57.304-.764.913-.138 1.243l3.636 1.38 8.793-6.49c.48-.407.972-.298.549.15l-7.552 8.166-.237 3.455c.22.534.622.536.879.271l2.089-2.36 3.578 3.2c.831.587 1.284.207 1.462-.87l2.347-13.271c.244-1.326-.171-1.91-1.23-1.402Z' fill='%23fff'/%3E%3C/svg%3E");
            }
        }
    }

    &__fb {
        &:before {
            background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%230181FF'/%3E%3Cpath d='M13.708 23.99v-7.988H12v-2.691c.075-.005.15-.014.23-.014.413 0 .83-.009 1.243.005.182.004.244-.046.24-.236a105.75 105.75 0 0 1-.005-2.062c.005-.775.218-1.477.759-2.039a2.87 2.87 0 0 1 1.921-.883c1.172-.068 2.347-.06 3.523-.082.014 0 .027.014.053.027v2.764c-.084.005-.164.01-.24.01h-1.596c-.537.004-.852.33-.852.87 0 .511 0 1.028.004 1.54 0 .014.009.027.022.077H20c-.115.92-.222 1.799-.337 2.71h-2.396V24c-1.194-.01-2.356-.01-3.559-.01Z' fill='%23fff'/%3E%3C/svg%3E");
        }

        &:hover {
            &:before {
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%23FF6584'/%3E%3Cpath d='M13.708 23.99v-7.988H12v-2.691c.075-.005.15-.014.23-.014.413 0 .83-.009 1.243.005.182.004.244-.046.24-.236a105.75 105.75 0 0 1-.005-2.062c.005-.775.218-1.477.759-2.039a2.87 2.87 0 0 1 1.921-.883c1.172-.068 2.347-.06 3.523-.082.014 0 .027.014.053.027v2.764c-.084.005-.164.01-.24.01h-1.596c-.537.004-.852.33-.852.87 0 .511 0 1.028.004 1.54 0 .014.009.027.022.077H20c-.115.92-.222 1.799-.337 2.71h-2.396V24c-1.194-.01-2.356-.01-3.559-.01Z' fill='%23fff'/%3E%3C/svg%3E");
            }
        }
    }

    &__menu-text {
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        color: #2F2E41;
    }

    &__social-block .footer__list {
        display: flex;
        gap: 0 10px;
    }

    &__social {
        width: 32px;
        height: 32px;
    }

    @include respond-from(sm) {

        &__wrap {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        &__menu, &__social-block {
            width: unset;
        }
    }

    @include respond-from(md) {
        &__adress {
            width: unset;
        }

        &__logo-wrap {
            width: 150px;
        }
    }

}