include ../components/common/head
include ../components/common/include-js
include ../components/common/img-svg

include ../components/%=component_header=%/header/header
include ../components/%=component_countries=%/countries/countries
include ../components/%=component_form=%/form/form
include ../components/%=component_popup=%/popup/popup
include ../components/%=component_footer=%/footer/footer

doctype html
html(class="no-js" lang="en")
    head
        +head
    body

        .w-outer
            +header
            block content

            +footer
            +popup
        +include-js


        block scripts
