extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text
                        h1.lng-alarm-title Охоронна сигналізація
                    .video-banner__video
                        video( autoplay muted)
                            source(src="static/img/content/6.mp4")
            .mouse
            .lng-alarm-txt
                p Проблеми охорони життя людини та її майна були, є і будуть. У всі часи ці питання вирішувалися різними методами та засобами. Сучасні системи безпеки включають цілі комплекси систем, до складу яких обов'язково входять системи охоронних сигналізацій.
                p Власне, за способом реалізації поставлених завдань, охоронні системи умовно можна поділити на два види:
                ul.decorated-list
                    li.decorated-list__item Автономні – нескладні системи охорони об'єкта, що включають датчики, сповіщувачі, звукові сирени, світлові імітатори присутності. Інформація надходить власнику системи на смартфон або просто включається сирена для відлякування порушників, без виклику групи швидкого реагування;
                    li.decorated-list__item Стаціонарні – підключені до Пульту Центрального Управління (ПЦУ): складаються з набору сигнальних сповіщувачів, які передають інформацію будь-якими каналами зв'язку на пульт групи швидкого реагування.
                p Установка всіх систем охоронної сигналізації проводиться за трьома пунктами:

                ul.decorated-list
                    li.decorated-list__item Датчики периметра - сповіщувачі, що встановлюються по зовнішньому краю об'єкта, що охороняється. Периметр є першою межею охорони – паркан, ворота, вікна, двері, каналізаційні люки, тобто всі можливі способи проникнення на об'єкт;
                    li.decorated-list__item Датчики руху, відкриття – комплекс охоронного обладнання, що покликане охороняти внутрішні приміщення об'єкта;
                    li.decorated-list__item Точковий об'єкт – окремий об'єкт усередині загального об'єкта охорони (наприклад, сейф в офісі).
                p Усі заходи з використанням систем охоронної сигналізації реалізуються за загальною схемою:
                ul.decorated-list
                    li.decorated-list__item Датчики фіксують несанкціоновані рухи на об'єкті, що охороняється - злом замків, відкриття дверей вікон, проникнення на об'єкт будь-якими способами;
                    li.decorated-list__item Сповіщувачі видають сигнал – звуковий та світловий: відлякують зловмисника, передають сигнал-повідомлення про проникнення зловмисника на центральний пункт, телефоном сповіщають власника приміщення про подію СМС чи іншим сигналом;
                    li.decorated-list__item Відеореєстратори проводять запис спостереження за сектором об'єкта, передають картинку в реальному часі на ПЦУ або хмарне сховище за допомогою мережі Інтернет.

                p Принцип роботи системи охоронної сигналізації описаний вище лише загалом. Яку систему вибрати для охорони квартири, офісу, виробничих приміщень, банківських установ, якими датчиками та відеокамерами їх укомплектувати, розрахувати необхідну кількість обладнання – у вирішенні цих питань допоможуть наші фахівці. Співробітники ТОВ «ІБК «Територія Безпеки» чекають на ваш дзвінок для укладання договору на розробку проекту, монтажу, налагодження та обслуговування систем охоронної сигналізації.

        .w-gap-lg
            .contact
                .w-center
                    .contact__wrap
                        .contact__left-side
                            h3#contacts.contact__title.lng-cbanner-title Завжди на зв'язку!
                            .contact__text.lng-cbanner-txt Чи готові почати свій наступний проект з нами? Чудово! Зателефонуйте нам або надішліть нам листа, і ми зв'яжемося з вами якнайшвидше!
                            .contact__icons
                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                        .contact__phone +38 (066) 245 85 35

                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                        .contact__phone +38 (044) 223 72 73
                                .contact__icon
                                    a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                        .contact__phone t-security@ukr.net
                            .contact__btn-wrap
                                button.btn-secondary.popup-btn.lng-cbanner-btn Зв'язатися з нами
                        .contact__right-side
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1602730048103!2d30.3633147158837!3d50.456740094792465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc91b1df271f%3A0xc4e7575dd6228554!2z0KLQpiBWTUIsINC_0YDQvtGB0L8uINCf0L7QsdC10LTRiywgMTM2LCDQmtC40LXQsiwgMDMxMTU!5e0!3m2!1sru!2sua!4v1658220407200!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>