extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        header.header.js-header
            .w-center
                .header__wrapper.js-header-toggle
                    a(href="/").header__logo-wrap
                        .header__logo
                            img(src="static/img/content/logo.svg" alt="logo")
                    .header__burger-menu-wrap.js-header-burger
                        .header__burger-menu
                            span
                            span
                            span
                    nav.header__nav
                        .header__nav-wrap
                            .header__navi
                                ul.header__list.header__menu-inner
                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/") Главная
                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/about.html") Компания
                                    li.header__list-item.header__menu-item.drop-wrap

                                        .header__menu-link.header__list-link.header__link.active Услуги
                                        ul.header__dropdown
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/alarm.html') Монтаж систем охранной сигнализации
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/automation.html') Автоматизация и диспетчеризация</br> инженерных систем зданий
                                            li.header__dropdown-item
                                                a.header__dropdown-link.active(href='/ckc.html') Задачи и преимущества СКС
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/electrical.html') Электромонтажные работы
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/fire.html') Установка автоматических систем противопожарной защиты
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/multimedia.html') Монтаж мультимедийных систем
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/skud.html') Установка системы СКУД
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/video.html') Установка систем видеонаблюдения

                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/#contacts") Контакты
                                    li.header__list-item.header__menu-item
                                        .btn-wrap
                                            button.btn.popup-btn Связаться с нами
        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text
                        h1 Монтаж</br> структурированных</br> кабельных сетей</br> (СКС)
                    .video-banner__video
                        video( autoplay muted)
                            source(src="static/img/content/4.mp4")
            .mouse


            p Структурированная кабельная сеть (СКС) – это система, выполняющая множество функций и объединяющая видеонаблюдение, телефонную связь, ЛВС, системы доступа и контроля, охранную и пожарную сигнализацию. Заказать услуги по монтажу и обслуживанию структурированной кабельной системы можно на сайте t-security.com.ua.
            .w-gap-md
            h3 Задачи и преимущества СКС
            p Основная задача – это разделение кабелей и коммутационного оборудования:
            ul.decorated-list
                li.decorated-list__item Систематизировать (установить маркировку на кабели) и упорядочить управление существующей сети;
                li.decorated-list__item Создать возможность для расширения или изменения плана конфигурации;
                li.decorated-list__item Обеспечить разноплановую трансляцию – передачу информационного потока или звука (аудио), а также видеотрансляцию;
                li.decorated-list__item Повысить функциональные возможности слаботочных систем.
            p Преимущества
            ul.decorated-list
                li.decorated-list__item Позволяет настроить сеть по индивидуальным требованиям заказчика;
                li.decorated-list__item Продолжительный эксплуатационный период;
                li.decorated-list__item Высокий показатель скорости передачи данных;
                li.decorated-list__item Оборудование может комплектоваться кабелями разных компаний-производителей;
                li.decorated-list__item Возможность быстрой замены поврежденного оборудования;
                li.decorated-list__item Удобство в обслуживании.

            p Доверить установку СКС нужно профессионалам из компании ТОВ «ІБК «Територія Безпеки» – это гарантия качественно смонтированных сетей, что повышает уровень безопасности передачи конфиденциальной информации.
            p Компания ТОВ «ІБК «Територія Безпеки» предлагает качественный монтаж СКС в Киеве и на другой территории Украины по доступной цене. Расценки на монтажные работы указаны в прайсе на официальном сайте компании – t-security.com.ua.
            .w-gap-md
            h3 Этапы установки кабельной сети
            p Этапы выполнения монтажных работ СКС:
            ul.decorated-list
                li.decorated-list__item Полное изучение объекта и соответствие проекту (сотрудники получают от заказчика проект и выезжают на объект);
                li.decorated-list__item Подбор оборудования (подбирают необходимую маркировку кабеля и устройств), а также комплектующих для установки системы на объекте. Чаще всего используются 2 типа проводов – многожильные (медные) и цельнотянутые (омедненные). Рекомендуется устанавливать многожильный патч-корд, который обеспечивает длительный эксплуатационный период сети;
                li.decorated-list__item Подбор узкоспециализированного инструментария для быстрого и качественного монтажа СКС;
                li.decorated-list__item Просверливание отверстий в перекрытиях и стенах для прокладки магистрали, установка розеток, гильз в отверстиях, сборка коммуникационных щитов;
                li.decorated-list__item Протяжка кабелей по стенам и междуэтажному перекрытию строго через установленные гильзы, что сохранит изоляцию в витой парке и не допустит затухание сигнала;
                li.decorated-list__item Подключение и разделка кабелей – установка коммутационных панелей или розеток;
                li.decorated-list__item Подключение и настройка сетевой аппаратуры;
                li.decorated-list__item Тестирование установленной системы. Тестирование проводится при помощи специализированных устройств, которое проверяет соответствие работы со стандартами, установленными для СКС;
                li.decorated-list__item Запуск системы в эксплуатацию и сдача работы заказчику;
                li.decorated-list__item Обучение сотрудников заказчика работе на данном оборудовании;
                li.decorated-list__item Техподдержка
            .w-gap-md
            h3 Преимущества сотрудничества с ТОВ «ІБК «Територія Безпеки» з Основными преимуществами сотрудничества являются:
            ul.decorated-list
                li.decorated-list__item Возможность заказать структурированные кабельные системы «под ключ» – проект, монтаж, оборудование и комплектующие для установки, послегарантийное и гарантийное обслуживание, ремонт и замену вышедших из строя устройств;
                li.decorated-list__item Низкая стоимость монтажных работ СКС и оборудования. Невысокая цена на кабели и комплектующие обусловлена прямыми поставками с завода-изготовителя;
                li.decorated-list__item Высокое качество оборудования и выполненного монтажа;
                li.decorated-list__item Оперативность приема заказа и выполнения работ.
                li.decorated-list__item Обучение сотрудников заказчика работе на данном оборудовании;
            p Многолетний опыт и высокая квалификация сотрудников ТОВ «ІБК «Територія Безпеки» позволит быстро и качественно проложить структурированную кабельную сеть и установить электронное оборудование, в соответствии с проектной документацией.
        .w-gap-lg
            .contact
                .contact__wrap
                    .w-center
                        h3#contacts.contact__title Всегда на связи!
                        .contact__text Готовы начать свой следующий проект с нами? Отлично! Позвоните нам или отправьте нам письмо, и мы свяжемся с вами как можно скорее!
                        .contact__icons
                            .contact__icon
                                a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                    .contact__phone +38 (066) 245 85 35

                            .contact__icon
                                a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                    .contact__phone +38 (044) 223 72 73
                            .contact__icon
                                a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                    .contact__phone t-security@ukr.net
                        .contact__btn-wrap
                            button.btn-secondary.popup-btn Связаться с нами
        footer.footer
            .msg-wrap
                .msg(onclick='gsapMsg.reverse()')
            .w-center
                .footer__wrap
                    a(href="/").footer__logo-wrap
                        .footer__logo
                            img(src="static/img/content/logo.svg" alt="logo")
                    .footer__menu
                        .footer__title Меню

                        ul.footer__list
                            li.footer__list-item
                                a.footer__menu-link.js-to-item(href="/") Главная
                            li.footer__list-item
                                a.footer__menu-link.js-to-item(href="/about.html") Компания
                            li.footer__list-item
                                a.footer__menu-link.js-to-item(href="/#contacts") Контакты
                    .footer__social-block
                        .footer__title Соц. сети
                        ul.footer__list
                            li.footer__list-item.footer__social
                                a.footer__menu-link.footer__fb(href="/")

                            li.footer__list-item.footer__social
                                a.footer__menu-link.footer__inst(href="/")

                            li.footer__list-item.footer__social
                                a.footer__menu-link.footer__telegram(href="/")

                    .footer__address
                        .footer__title Адрес
                        .footer__menu-text Проспект Победы,</br> 136, Київ, 03115