extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text
                        h1.lng-ckc-title Монтаж</br> структурованих</br> кабельних систем</br> (СКМ)
                    .video-banner__video
                        video( autoplay muted)
                            source(src="static/img/content/4.mp4")
            .mouse
            .lng-ckc-text
                p Структурована кабельна мережа (СКМ) – це система, що виконує безліч функцій та об'єднує локальну обчислювальну мережу, відеоспостереження, телефонний зв'язок, системи контролю доступу, охоронну та пожежну сигналізацію, усіляку автоматизацію та диспетчеризацію систем.
                .w-gap-md

                p Основна перевага СКС полягає в оперативній передачі інформації незалежно від її характеру та властивостей.
                p Завдання системи забезпечити різнопланову трансляцію – передачу інформаційного цифрового потоку чи звуку (аудіо), і навіть відеотрансляцію, підвищити функціональні можливості слаботочних систем.
                p Переваги побудови сучасних структурованих кабельних мереж:

                ul.decorated-list
                    li.decorated-list__item Дозволяє налаштувати мережу за індивідуальними вимогами замовника;
                    li.decorated-list__item Тривалий експлуатаційний період;
                    li.decorated-list__item Високий показник швидкості передачі;
                    li.decorated-list__item Устаткування може комплектуватись кабелями різних компаній-виробників;
                    li.decorated-list__item Можливість швидкої заміни пошкодженого обладнання;
                    li.decorated-list__item Зручність в обслуговуванні

                p Довірити встановлення структурованих кабельних мереж СКС потрібно професіоналам із компанії ТОВ «ІБК «Територія Безпеки» – це гарантія якісно змонтованих мереж, що підвищує рівень безпеки передачі конфіденційної інформації.
        .w-gap-lg
            .contact
                .w-center
                    .contact__wrap
                        .contact__left-side
                            h3#contacts.contact__title.lng-cbanner-title Завжди на зв'язку!
                            .contact__text.lng-cbanner-txt Чи готові почати свій наступний проект з нами? Чудово! Зателефонуйте нам або надішліть нам листа, і ми зв'яжемося з вами якнайшвидше!
                            .contact__icons
                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                        .contact__phone +38 (066) 245 85 35

                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                        .contact__phone +38 (044) 223 72 73
                                .contact__icon
                                    a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                        .contact__phone t-security@ukr.net
                            .contact__btn-wrap
                                button.btn-secondary.popup-btn.lng-cbanner-btn Зв'язатися з нами
                        .contact__right-side
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1602730048103!2d30.3633147158837!3d50.456740094792465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc91b1df271f%3A0xc4e7575dd6228554!2z0KLQpiBWTUIsINC_0YDQvtGB0L8uINCf0L7QsdC10LTRiywgMTM2LCDQmtC40LXQsiwgMDMxMTU!5e0!3m2!1sru!2sua!4v1658220407200!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>