extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text
                        h1.lng-electrical-title Електромонтажні </br> роботи
                    .video-banner__video
                        video( autoplay muted)
                            source(src="static/img/content/5.mp4")
            .mouse

            .lng-electrical-text

                p Електромонтажні роботи – важливий етап будь-якого ремонту. Електропроводку прокладають найчастіше на весь період експлуатації будинку, тому необхідно приділяти особливу увагу як якості прокладених кабелів і встановленої фурнітури, а й якості проведеного монтажу. Від електромонтажу залежатиме подача електроенергії до приладів та ступінь безпеки приміщень.

                .w-gap-md
                h3 Перелік електромонтажних послуг
                p Електрики нашої компанії виконують монтаж електропроводки будь-якої складності та конфігурації – у приватному будинку, офісі чи на підприємстві. Також компанія надає послуги з проектування, оформлення проектної документації, технічних умов в органах нагляду, монтажу кабельних ліній та обладнання, введення в експлуатацію. До переліку електромонтажних робіт входять:

                ul.decorated-list
                    li.decorated-list__item Монтаж електричних щитів та ящиків;

                    li.decorated-list__item Прокладання кабелів по будівлі;

                    li.decorated-list__item Заміна магістральної кабельної мережі;
                    li.decorated-list__item Монтаж низьковольтної апаратури;

                    li.decorated-list__item Заміна чи встановлення освітлювальних пристроїв;

                    li.decorated-list__item Електромонтажні послуги із встановлення заземлення;

                    li.decorated-list__item Комплектація та монтаж електроустановного обладнання;

                    li.decorated-list__item Штроблення стін під проводку;
                    li.decorated-list__item Пробивка отворів у міжповерхових та стінових перегородках;
                    li.decorated-list__item Встановлення розеток, вимикачів;
                .w-gap-md
                h3 Процедура проведение электромонтажа
                p Замена старых электрических сетей или прокладка новой электропроводки – это процесс, при котором возникает много мусора и пыли (штробление стен, пробивка отверстий), поэтому из жилой комнаты и офиса необходимо вынести оргтехнику и компьютеры, а также мягкую мебель, а остальные предметы интерьера плотно укрыть строительным полиэтиленом. После получения проекта электропроводки, монтер приступает к разметке всех основных узлов. Стоимость электромонтажных работ зависит от количества комнат в здании, сложности проекта и индивидуальных требований заказчика.
                p При замене электрических сетей на новую электропроводку, мастер выполняет такие этапы:

                ul.decorated-list
                    li.decorated-list__item Демонтирует розетки, выключатели;
                    li.decorated-list__item Вытягивает старые провода;
                    li.decorated-list__item Проводит штробление стен;
                    li.decorated-list__item Укладывает кабели необходимого сечения;
                    li.decorated-list__item Устанавливает осветительное оборудование, выключатели и розетки;
                    li.decorated-list__item Подсоединяет провода к электрическому счетчику;
                    li.decorated-list__item Проверяет работу всех точек электропитания;
                    li.decorated-list__item При выявлении неполадок, оперативно их устраняет;
                    li.decorated-list__item Сдает электропроводку в эксплуатацию.
                p Также электрики компании ТОВ «ІБК «Територія Безпеки» кроме электромонтажных работ могут провести ремонт осветительных приборов, электрощитов и электросчётчиков. Цены на проведение ремонта указаны в прейскуранте на сайте.
                .w-gap-md
                h3 Переваги співробітництва з компанією ТОВ «ІБК «Територія Безпеки»
                p Без електрики неможливо уявити навіть функціонування будинку, не кажучи про офіс чи підприємство. Від електромережі живиться велика та дрібна побутова техніка (холодильник, пральна та посудомийна машина, мікрохвильова піч та кухонний комбайн та ін.), електроніка (телевізори, приставки, музичні центри), комп'ютерна та оргтехніка. Щоб убезпечити житло від замикання, яке призводить до пожеж та втрати майна та людського життя, не варто довіряти проведення електромонтажу «домашньому майстру», а необхідно замовити електромонтажні роботи у професіоналів:
                ul.decorated-list
                    li.decorated-list__item Усі етапи монтажу електрики проводяться у відповідники з нормами ПУЕ та ДБН;
                    li.decorated-list__item Соблюдение установленного графика;
                    li.decorated-list__item Щоденний контроль якості монтажу;
                    li.decorated-list__item Доступна ціна на електричне обладнання, фурнітуру, встановлення та ремонт.
                p Електромонтажні роботи компанії ТОВ «ІБК «Територія Безпеки» відповідають усім стандартам. Замовити електромонтажні роботи можна, заповнивши онлайн-заявку.

        .w-gap-lg
            .contact
                .w-center
                    .contact__wrap
                        .contact__left-side
                            h3#contacts.contact__title.lng-cbanner-title Завжди на зв'язку!
                            .contact__text.lng-cbanner-txt Чи готові почати свій наступний проект з нами? Чудово! Зателефонуйте нам або надішліть нам листа, і ми зв'яжемося з вами якнайшвидше!
                            .contact__icons
                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                        .contact__phone +38 (066) 245 85 35

                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                        .contact__phone +38 (044) 223 72 73
                                .contact__icon
                                    a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                        .contact__phone t-security@ukr.net
                            .contact__btn-wrap
                                button.btn-secondary.popup-btn.lng-cbanner-btn Зв'язатися з нами
                        .contact__right-side
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1602730048103!2d30.3633147158837!3d50.456740094792465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc91b1df271f%3A0xc4e7575dd6228554!2z0KLQpiBWTUIsINC_0YDQvtGB0L8uINCf0L7QsdC10LTRiywgMTM2LCDQmtC40LXQsiwgMDMxMTU!5e0!3m2!1sru!2sua!4v1658220407200!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>