extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        +header

        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text(style="max-width: 706px;")
                        h1 Монтаж комплексных </br>систем безопасности
                        p Комплексные системы безопасности (КСБ) – это комплекс инженерных систем, обеспечивающие безопасность на территории защищаемого объекта. Заказать проектирование и монтаж систем безопасности можно на официальном сайте компании ТОВ «ІБК «Територія Безпеки» – t-security.com.ua
                    .video-banner__video
                        img(src="static/img/content/password.svg")
                .mouse

            h3 Функциональные возможности <span class="colored">КСБ</span>
            p.text-center КСБ выполняют функции контроля и защиты, обеспечивающие стабильную работу предприятий и организаций. Основная функция – это охрана имущества от внешних и внутренних угроз.
            .w-gap-md
                .text
                    .text__img
                        img(src="static/img/content/lock.svg")
                    .text__wrap
                        .text__left
                            span Хищение имущества и документации
                        .w-gap-sm
                        .text__right
                            span Возникновение пожароопасной ситуации, которая может причинить материальные потери. Именно системы безопасности своевременно оповещают о подобных угрозах, а также обеспечивают высокую степень контроля доступа на охраняемые объекты.
                        .w-gap-sm
                        .text__left
                            span Коллекторский захват объекта
        .w-gap-lg
        .control
            .w-center
                .control__wrap
                    h3.control__title Состав КСБ
                    .w-gap-sm
                    p.control__center Монтаж комплексных систем безопасности проводят для обеспечения полного контроля охраняемой территории. В комплектацию КСБ входят.
                    .w-gap-md
                    .control__blocks-wrap
                        .control__block.control__first-col
                            .control__block-img
                                img(src="static/img/content/first-col.svg" alt="logo")
                            .control__block-content
                                span <strong>Видеонаблюдение.</strong> Комплект видеонаблюдения обеспечивает круглосуточное слежение за объектом, как снаружи, так и внутри. Видеонаблюдение эффективно для охраны административных зданий, крупных и мелких промышленных предприятий, частных домов и складских помещений.
                        .control__block.control__second-col
                            .control__block-img
                                img(src="static/img/content/second-col.svg" alt="logo")
                            .control__block-content
                                span <strong>Контроль доступа</strong> – это первое, о чем необходимо позаботиться предприятию. Охрана не всегда справляется с поставленной задачей, да и человеческий фактор иногда играет важную роль. Автоматизированный доступ – это установка турникетов, шлагбаумов, сканеров лиц и автомобильных номеров.
                            .control__block-content.control__block-content--nth.w-gap-md
                                .control__block-img
                                    img(src="static/img/content/second-col-nth.svg" alt="logo")
                                span <strong>Охранная сигнализация</strong> устанавливается для защиты периметра территорий, зданий.
                        .control__block.control__third-col
                            .control__block-img
                                img(src="static/img/content/third-col.svg" alt="logo")
                            .control__block-content
                                span <strong>Установка системы пожарной безопасности</strong> – это своевременное выявление и предупреждение об опасности возгорания. Существует несколько видов оборудования, которые реагируют на дым, повышение температуры, пламя. Чтобы обеспечить высокую степень защиты, нужно устанавливать комбинированную пожарную сигнализацию.
        .w-center
            .w-gap-lg
            .benefits
                .benefits__wrap
                    .benefits__img
                        img(src="static/img/content/benefits.svg")
                    .benefits__text-wrap
                        .benefits__text
                            h2.benefits__title Преимущества установки КСБ
                            p Основные преимущества комплексного подхода к монтажу </br>технических систем безопасности
                .benefits__items
                    .benefits__items-up
                        .benefits__item
                            span Оперативность – установка КСБ обеспечивает оперативный сбор и передачу информации.
                        .benefits__item
                            span Интегрированность всех систем в единое информационное пространство.
                    .benefits__item.benefits__item-third
                        span При правильном проектировании и монтаже комплексных систем безопасности обеспечивается высокая степень надежности коммуникаций.
            .w-gap-lg
            .attention
                .attention__item
                    .attention__text Компания ТОВ «ІБК «Територія Безпеки» предлагает проектирование, установку и оборудование КСБ по <strong>доступным ценам.</strong> Заказать услуги и купить необходимое оборудование и комплектующие можно на сайте <strong>www.t-security.com.ua.</br> Квалифицированные специалисты</strong> помогут организовать защиту и контроль над охраняемым объектом.
                    .attention__img
                        img(src="static/img/content/attention.svg" alt="logo")
        .w-gap-lg
            .contact
                .contact__wrap
                    .w-center
                        h3#contacts.contact__title Всегда на связи!
                        .contact__text Готовы начать свой следующий проект с нами? Отлично! Позвоните нам или отправьте нам письмо, и мы свяжемся с вами как можно скорее!
                        .contact__icons
                            .contact__icon
                                a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                    .contact__phone +38 (066) 245 85 35

                            .contact__icon
                                a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                    .contact__phone +38 (044) 223 72 73
                            .contact__icon
                                a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                    .contact__phone t-security@ukr.net
                        .contact__btn-wrap
                            button.btn-secondary.popup-btn Связаться с нами
    +footer

