extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            +slider
            h2 О нас
            p Мы рады приветствовать Вас на нашем сайте! Компания создана в 2010 году, но благодаря профессионализму наших сотрудников, мы уверенными шагами осваиваем новые виды услуг которые мы можем предоставить нашим заказчикам. За небольшое время работы ООО «ИСК« Территория Безопасности »зарекомендовала себя как профессиональная и ответственная компания. Наша компания профессионально занимается техническими системами безопасности и электромонтажными работами. Все работы выполняем начиная с осмотра объекта, составляем концепцию, считаем смету, выполняем проектные работы, согласовываем в соответствующих органах, поставляем оборудование и материалы заказчику, проводим монтажные и пуско-наладочные работы, вводим объект в эксплуатацию. Таким образом мы можем предложить заказчику выполнение работ «под ключ» с полным циклом производства (услуг)

            H2 Услуги
            p Автоматическая система управлением въезда и выезда транспорта на территорию, выхода и входа людей в здание/помещение – система контроля и управления доступом (СКУД), призванная максимально улучшить систему безопасности на предприятии, фирме. Эта система сложна, выполняем много функций, требует тщательного проектирования, монтажа и постоянного обслуживания. Приобрести эту дорогую систему может только крупное предприятие (организация), поэтому ее обслуживание целесообразно доверить той фирме, которая проектировала и устанавливала ее.В общих чертах, Система контроля и управления доступом (СКУД) представляет собой электронную пропускную систему (турникеты, шлагбаумы) и пластиковые карточки доступа, которые выдаются каждому сотруднику. Эти карточки несут в себе информацию о владельце: его личные данные, должность, режим работы. Также идет фиксирование точного времени, когда эта карточка использовалась для прохода на/с территории предприятия. Кроме пластиковых карт, для получения доступа могут быть использованы ключи-брелоки, стикеры, отпечатки пальцев, сканирование сетчатки глаза. Все формы получения доступа зависят от уровня системыконтроля и секретности объекта: самые простые и широко используемые – пластиковые карты, самые сложные (потому дорогие) – сканирование сетчатки глаза.
            h2 Какие бы ни были носители информации, все СКУД состоит из:
            p Устройство идентификации (считыватель);
            p -Контроллер;
            p — Исполнительное устройство (пропускное).
            p Вся система управляется компьютерной программой, которая не только контролирует доступ, но и ведет учет рабочего времени, записывает протокол всех событий. Многие СКУД оснащены охранной и противопожарной системой и подразделяются на 3 вида:
            p —  Автономная система – управляет доступом без передачи информации на контрольный пункт и не управляется оператором;
            p — Центральная (сетевая) система контроля доступа – передает всю информацию о событиях на центральный пункт охраны и управляется оператором;
            p — Универсальные системы – работают как автономные, так и, в случае необходимости, сетевые системы контроля доступом.
            p Монтаж и обслуживание такой сложной системы надо доверять только профессионалам в этой области, а именно специалистам ТОВ «ІБК «Територія Безпеки», которые имеют большой опыт, заработанный годами и упорным трудом. Позвоните нам, заключите договор на установку и техническое обслуживание СКУД  и убедитесь в нашем высоком профессионализме.
            p
                a(href='https://t-security.com.ua/ru/sistema-kontrolya-i-upravleniya-dostupom/zamki-i-zashhelki') Замки и защелки

                h1(style='text-align:center') Монтаж дверных замков и защелок
                p Замки и защелки представляют собой простейшую систему контроля доступа на территорию (в помещение) и систему охраны. На самом деле эти механизмы являются первым внешним краем (периметром) системы охраны, некоторые могут дополнительно выполнять функции сигнализации (например, электрозамки и электрозащелки).
                p Современные замки и защелки делятся по способу установки на врезные и накладные и по типу механизма – на сувальдные и цилиндровые. Накладные крепятся на дверное полотно, а врезные «вшиваются» в само дверное полотно. Выбирая замок по типу механизма, надо знать, что:
                p — Сувальдные механизмы состоят из пластин, оснащенных специальными пружинами и зубцами (сувальдов), которые должны выстроиться в определенном порядке, чтобы открыть замок. Этот тип замкового механизма самый надежный, но, если потерли от него ключ, то придется менять весь замок;
                p — Цилиндровые самые популярные ввиду своей практичности, так как при потере ключа достаточно заменить «секрет» замка (личинку). Принцип действия цилиндровых замков тот же, что и сувальдных: набор пластин выстраивается в определенном порядке, а зубцами оснащен плоский ключ.
                p Современные замки и защелки по принципу фиксации (то есть закрытия и открытия) механизма, подразделяются на:
                p —Механические – самые простые, закрываются и отпираются только с помощью ключа;
                p —Электромеханические – замок запирается двумя способами одновременно: с помощью ключа и электрического механизма, блокирующего «секрет» замка. Этот вид замков может запираться/отпираться с помощью электронного чипа, встроенного в пластиковую карту.
                p —Электромагнитные - механизм управляется с помощью электромагнита.
                p Нюансов выбора замков и защелок великое множество и разобраться в них может только специалист в этой области. Если вы решили заменить или установить замок на дверь, обратитесь к сотрудникам ТОВ «ІБК «Територія Безпеки» - они знают толк в замках и хорошо разбираются во множестве их видов и типов. Наши сотрудники помогут вам в правильном выборе замка или защелки в зависимости от вида двери, места ее расположения (входная или межкомнатная), ее веса и материала изготовления.Позвоните нам и закажите услугу установки замка или защелки на дверь – мы проведем мониторинг технических возможностей, ваших пожеланий касательно вида замка и выберем оптимальный вариант замкового механизма для конкретной двери.

            p
                a(href='https://t-security.com.ua/ru/sistema-kontrolya-i-upravleniya-dostupom/turnikety') Турникеты

                h1(style='text-align:center') Монтаж турникетов
                p Турникеты призваны ограждать вход на территорию или выход с нее, регулировать проход пока людей по специально отведенным коридорам (в аэропортах, метро, стадионах). Выбор турникета зависит от его расчетной пропускной способности, особенностей места установки, способы управления им. Условно турникеты делятся на три основных вида: полуростовые, полноростовые и оптические и каждый из них имеет несколько конфигураций.
                p Разобраться в их многообразии непросто без помощи специалистов в той области. Сотрудники ТОВ «ІБК «Територія Безпеки» знакомы со всеми особенностями турникетов и выберут для вас нужную модель. В зависимости от ваших желаний, технических условий и функций, которые должен выполнять турникет, мы предложим вам лучший вариант.
                p Для обеспечения скоростного прохода, лучше выбрать оптический турникет. Он представляет собой две тумбы, оснащенные сенсорными датчиками. Они фиксируют присутствие человека и скорость, с которой он проходит между ними. Оптические турникеты оптимально подходят для мест, где высокая плотность проходящих людей – в крупных деловых центрах с множеством офисов, спортивных клубах, крупных учебных заведениях. Эти турникеты могут быть без барьерными или иметь створки (раздвижные, распашные) и устанавливаются только в зданиях.
                p Для мест, где требуется повышенная степень безопасности (на стратегических предприятиях, военных или государственных объектах) применяются полноростовые турникеты. Они представляют собой штангу, закрепленную между полом и потолком, на которой закреплены на определенном расстоянии друг от друга и вращаются вокруг своей оси большие лопасти. Пройти между ними может только один человек со скоростью, задаваемой лопастями.
                p Самый популярный вид турникета – полуростовой, состоит из короткой штанги до 1 м высотой, на которой закреплены лопасти, которые поворачиваются вокруг своей оси. Пройти между ними может только один человек с определенной скоростью. Такие турникеты оснащены фиксатором, блокирующий лопасти. Снять блокировку и пройти между лопастями можно только с помощью пластиковой карточки-пропуска.
                p Обратившись к специалистам фирмы «Територія Безпеки», вы получите всю существующую информацию по каждому виду турникетов и их модификациям. Мы предложим на выбор варианты турникетов в соответствии с задачами, которые они должны выполнять.
            p
                a(href='https://t-security.com.ua/ru/sistema-kontrolya-i-upravleniya-dostupom/dvernye-dovodchiki') Дверные доводчики
                h1(style='text-align:center') Монтаж дверных доводчиков
                p Хлопающие двери расшатывают не только нервную систему человека, но и доводят до аварийного состояния дверную. Бороться с этим призваны дверные доводчики – специальные приспособления, которые плавно закрывают двери, сохраняя комфорт и тепло в помещении, а дверную коробку от преждевременного изнашивания.
                p Принцип действия всех доводчиков прост и одинаков во всех конструкциях: тяга при открывании двери приводит в движение пружинный механизм, масло в котором притормаживает сжатие или разжимание пружины. Типы конструкций этих механизмов отличаются по типам механизма: гидравлические (масляные) или с пружинным возвратным действием; способам монтажа: устанавливаются в разных местах - на двери, на потолке, в углу.
                p В зависимости от размера и тяжести двери используются доводчики, рассчитанные на разный вес, разные типы дверных замков. Разобраться во всех тонкостях правильного выбора и установки дверного доводчика можно, но желательно доверить эту работу профессионалам. Сотрудники ТОВ «ІБК «Територія Безпеки» сделают за вас всю работу за 2-3 часа – от вас требуется только телефонный звонок с заказом услуги. Мы гарантируем качество нашей работы и долгую службу вашей двери.
            p
                a(href='https://t-security.com.ua/ru/sistema-kontrolya-i-upravleniya-dostupom/zashhitnye-rollety') Защитные роллеты

                h1(style='text-align:center') Установка рольставней
                p Система контроля и учета доступа не будет полной без защитных роллет: оконных, дверных, гаражных, воротных. Выбор роллет зависит от функций, которые они должны выполнять, а их немало. Рассмотрим лишь основную их часть.
                p Роллеты для дома, офиса, небольшого здания выполняют функции защиты от взлома, проникновения в помещение, тепло- и шумоизоляционные. Представляют собой тонкий каркас из алюминиевого металлопрофиля, заполненные полиуретановой пеной. Устанавливаются на окна и входные двери. Выполненные из усиленного профиля эти роллеты подразделяются на антивандальные (степень защиты средняя) и противовзломные (степень защиты высокая, устанавливаются на небольших витринах, больших окнах).
                p Роллеты для магазинов, ресторанов, кафе, больших витрин сочетают в себе тепло- и шумоизоляционные функции с антивандальными (усиленный профиль средней степени защиты) и противовзломные (степень защиты высокая).
                p Роллетные ворота, гаражные роллеты применяются для закрытия дверного проема в гаражах, воротах. Не обладают тепло- и шумоизоляцией, выполняют только антивандальную и, в большей степени, антивзломную функции. Выполняются из усиленного металлопрофиля особой жесткости, имеют высокую степень защиты. Эти роллеты по механизму закрытия делятся на вертикальные (открываются путем передвижения слева направо) и горизонтальные (передвигаются сверху вниз).
                p Роллеты для больших витрин торговых центров с решетчатым профилем. Тепло- и шумоизоляцией не обладают, степень защиты средняя. Выполнены по типу мобильной решетки и направлены на противовзломную (в меньшей степени) и антивандальную (в большей степени) функцию.
                p Все роллеты по типу закрытия бывают ручные (управляются с помощью шнура, троса, ручки) и автоматические (электронный механизм закрытия/открытия управляется с помощью пульта), по типу монтажа: навесные или встроенные, внешние или внутренние.
                p Защитные роллеты становятся все популярнее благодаря своей долговечности, красивому эстетичному виду, экономичности, огромному многообразию видов и расцветок.
            p
                a(href='https://t-security.com.ua/ru/sistema-kontrolya-i-upravleniya-dostupom/avtomatika-dlya-vorot') Автоматика для ворот
                h1(style='text-align:center') Монтаж автоматики на ворота
                p Многообразие современных автоматических ворот может поставить перед вами непростую задачу выбора автоматики для них. Решение этого вопроса зависит от типа ворот, а их несколько: распашные, откатные, секционные, подъемно-поворотные и рулонные.
                p Распашные ворота комплектуются автоматикой трех видов:
                p —Линейным (червячным) – открывает/закрывает ворота внутрь или под прямым углом;
                p —Рычажным – открывает ворота только внутрь;
                p —Подземным – устанавливается под землей и не виден, открывается внутрь или наружу.
                p Автоматика для откатных ворот намного сложнее и содержит большой набор комплектующих – блоков, приводов.
                p Секционные, подъемно-поворотные и рулонные ворота оснащаются автоматикой с цепной или ременной передачей и потолочным приводом. Эти типы ворот имеет большую популярность благодаря своей надежности, невысокой стоимости, простотой в эксплуатации. Чаще всего они устанавливаются в частных гаражах, заборах частных домов.
                p Сотрудники ТОВ «ІБК «Територія Безпеки» советуют вам устанавливать на ворота дистанционное управление, которое намного облегчает пользование ими. Наши специалисты помогут вам выбрать оптимальный вариант автоматики для ворот и произведут монтаж.

            p
                a(href='https://t-security.com.ua/ru/sistema-kontrolya-i-upravleniya-dostupom/shlagbaumy') Шлагбаумы
                h1(style='text-align:center') Монтаж шлагбаума
                p В случаях, когда требуется заблокировать проход людям или проезд автотранспорту, а устанавливать ворота нецелесообразно (на дороге, выезде из автомобильной стоянки, железнодорожном переезде), лучше преградить проход (проезд) с помощью шлагбаума.
                p Принцип действия всех шлагбаумов одинаков – горизонтальная штанга (стрела), закрепленная на вертикальной опоре (стойке, тумбе), опускается или поднимается, преграждая и открывая дорогу. По типу управления эти механизмы бывают ручными или автоматическими. Ручные шлагбаумы самые простые и устанавливаются там, где нет доступа к электросети. Поднимаются и опускаются вручную с помощью физической силы человека, иногда оснащены противовесом. Автоматические приводятся в движение с помощью электродвигателя или гидравлической системы. Ввиду легкости в управлении и невысокой стоимости, эти шлагбаумы очень популярны и востребованы.
                h2(style='text-align:left') По способу открывания, они делятся на:
                p — Вертикальные – самые распространенные, в них стрела поднимается вверх, открывая дорогу;
                p — Поворотные – открываются по типу двери в направлении от движения пешеходов и автотранспорта;
                p — Откатные – открываются по типу двери, но имеет не стрелу, а полноценное заграждение, состоящее из складных секций.
                p В зависимости от условий эксплуатации, выбирается вид стрелы: квадратные, прямоугольные, круглые, складные, секционные. Там, где требуется обеспечить высокую степень безопасности людей в эксплуатации шлагбаумов, предпочтительнее обратить внимание на цепную модель – в ней роль стрелы выполняет цепь, натянутая между двумя стойками. Этот шлагбаум автоматический и оснащен датчиками движения, которые фиксируют приближение автомобиля и опускают цепь вниз.
                p Выбор хорошего и подходящего под ваши требования шлагбаума – не простая задача. Обратитесь в ТОВ «ІБК «Територія Безпеки» за помощью, доверьте нам свою проблему и мы предоставляем готовое решение с учетом всех факторов:
                p — Выбор вида шлагбаума с учетом расчета пропускной способности – количеству циклов открывания/закрывания за определенный промежуток времени;
                p —Типа управления;
                p —Погодных и технических условий эксплуатации;
                p — Места установки – от него зависит выбор типа стрелы.
                p Доверьте установку шлагбаума и его обслуживание профессионалам фирмы «Територія Безпеки» и вы гарантировано получите качественную работу и надежный шлагбаум.
