extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text.lng-home-titling(style="max-width: 706px;")
                        h1 Монтаж комплексных </br>систем безопасности
                        p Комплексные системы безопасности (КСБ) – это комплекс инженерных систем, обеспечивающие безопасность на территории защищаемого объекта. Заказать проектирование и монтаж систем безопасности можно на официальном сайте компании ТОВ «ІБК «Територія Безпеки» – t-security.com.ua
                    .video-banner__video
                        img(src="static/img/content/password.svg")
                .mouse
        .w-gap-lg
        .control
            .w-center
                .control__wrap
                    .w-gap-sm
                    p.control__center.lng-home-kcb-text4 Монтаж комплексних систем безпеки проводять для забезпечення повного контролю території, що охороняється. До складу комплексних систем безпеки входять:
                    .w-gap-md
                    .control__blocks-wrap
                        .control__block.control__first-col
                            .control__block-img
                                img(src="static/img/content/first-col.svg" alt="logo")
                            .control__block-content
                                span.lng-home-kcb-text5 <strong>Видеонаблюдение.</strong> Комплект видеонаблюдения обеспечивает круглосуточное слежение за объектом, как снаружи, так и внутри. Видеонаблюдение эффективно для охраны административных зданий, крупных и мелких промышленных предприятий, частных домов и складских помещений.
                        .control__block.control__second-col

                            .control__block-content
                                span.lng-home-kcb-text6 <strong>Контроль доступа</strong> – это первое, о чем необходимо позаботиться предприятию. Охрана не всегда справляется с поставленной задачей, да и человеческий фактор иногда играет важную роль. Автоматизированный доступ – это установка дверей разного уровня доступа, турникетов, шлагбаумов, сканеров лиц и автомобильных номеров.
                            .control__block-content.control__block-content--nth.w-gap-md
                                .control__block-img
                                    img(src="static/img/content/second-col-nth.svg" alt="logo")
                                span.lng-home-kcb-text7 <strong>Охранная сигнализация</strong> устанавливается для защиты помещений от проникновения третих лиц в квартиры, дома, периметра территорий, зданий.
                        .control__block.control__third-col
                            .control__block-img
                                img(src="static/img/content/third-col.svg" alt="logo")
                            .control__block-content
                                span.lng-home-kcb-text8 <strong>Автоматические системы противопожарной безопасности</strong> – и системы оповещения о пожаре – это средства раннего обнаружения пожара и предупреждение об опасности возгорания. Существует несколько типов оборудования адресные и неадресные, которые реагируют на дым, повышение температуры, пламя. Системы оповещения бывают речевые, звуковые, свето и светозвуковые.
        .w-center
            .w-gap-lg
            .benefits
                .benefits__wrap
                    .benefits__img
                        img(src="static/img/content/benefits.svg")
                    .benefits__text-wrap
                        .benefits__text
                            h2.benefits__title.lng-home-kcb-title2 Переваги встановлення комплексних систем безпеки
                            p.lng-home-kcb-text9 Основні переваги комплексного підходу до монтажу </br>технічних систем безпеки
                .benefits__items
                    .benefits__items-up
                        .benefits__item
                            span.lng-home-kcb-text10 Оперативність - встановлення систем безпеки забезпечує оперативний збір та передачу інформації на центральний пульт управління.
                        .benefits__item
                            span.lng-home-kcb-text11 Інтегрованість всіх систем у єдиний інформаційний простір.

                    .benefits__item.benefits__item-third
                        span.lng-home-kcb-text12 При правильному проектуванні, монтажі та грамотному технічному обслуговуванні комплексних систем безпеки забезпечується високий ступінь безпеки об'єктів, що захищаються.
            .w-gap-lg
            .attention
                .attention__item
                    .attention__text.lng-home-kcb-text13 Компанія ТОВ «ІБК «Територія Безпеки» пропонує проектування, встановлення та обладнання систем безпеки за доступними цінами. Замовити послуги та купити необхідне обладнання та комплектуючі можна на сайті </br>www.t-security.com.ua. Кваліфіковані фахівці допоможуть організувати захист і контроль над об'єктом, що охороняється.
                    .attention__img
                        img(src="static/img/content/attention.svg" alt="logo")
        .w-gap-lg
            .contact
                .w-center
                    .contact__wrap
                        .contact__left-side
                            h3#contacts.contact__title.lng-cbanner-title Завжди на зв'язку!
                            .contact__text.lng-cbanner-txt Чи готові почати свій наступний проект з нами? Чудово! Зателефонуйте нам або надішліть нам листа, і ми зв'яжемося з вами якнайшвидше!
                            .contact__icons
                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                        .contact__phone +38 (066) 245 85 35

                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                        .contact__phone +38 (044) 223 72 73
                                .contact__icon
                                    a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                        .contact__phone t-security@ukr.net
                            .contact__btn-wrap
                                button.btn-secondary.popup-btn.lng-cbanner-btn Зв'язатися з нами
                        .contact__right-side
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1602730048103!2d30.3633147158837!3d50.456740094792465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc91b1df271f%3A0xc4e7575dd6228554!2z0KLQpiBWTUIsINC_0YDQvtGB0L8uINCf0L7QsdC10LTRiywgMTM2LCDQmtC40LXQsiwgMDMxMTU!5e0!3m2!1sru!2sua!4v1658220407200!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>