extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        header.header.js-header
            .w-center
                .header__wrapper.js-header-toggle
                    a(href="/").header__logo-wrap
                        .header__logo
                            img(src="static/img/content/logo.svg" alt="logo")
                    .header__burger-menu-wrap.js-header-burger
                        .header__burger-menu
                            span
                            span
                            span
                    nav.header__nav
                        .header__nav-wrap
                            .header__navi
                                ul.header__list.header__menu-inner
                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/") Главная
                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/about.html") Компания
                                    li.header__list-item.header__menu-item.drop-wrap

                                        .header__menu-link.header__list-link.header__link.active Услуги
                                        ul.header__dropdown
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/alarm.html') Монтаж систем охранной сигнализации
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/automation.html') Автоматизация и диспетчеризация</br> инженерных систем зданий
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/ckc.html') Задачи и преимущества СКС
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/electrical.html') Электромонтажные работы
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/fire.html') Установка автоматических систем противопожарной защиты
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/multimedia.html') Монтаж мультимедийных систем
                                            li.header__dropdown-item
                                                a.header__dropdown-link.active(href='/skud.html') Установка системы СКУД
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/video.html') Установка систем видеонаблюдения

                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/#contacts") Контакты
                                    li.header__list-item.header__menu-item
                                        .btn-wrap
                                            button.btn.popup-btn Связаться с нами
        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text
                        h1 Установка</br> системы СКУД

                    .video-banner__video
                        video( autoplay muted)
                            source(src="static/img/content/8.mp4")
            .mouse
            p Автоматическая система управлением въезда и выезда транспорта на территорию, выхода и входа людей в здание/помещение – система контроля и управления доступом (СКУД), призванная максимально улучшить систему безопасности на предприятии, фирме. Эта система сложна, выполняем много функций, требует тщательного проектирования, монтажа и постоянного обслуживания. Приобрести эту дорогую систему может только крупное предприятие (организация), поэтому ее обслуживание целесообразно доверить той фирме, которая проектировала и устанавливала ее.В общих чертах, Система контроля и управления доступом (СКУД) представляет собой электронную пропускную систему (турникеты, шлагбаумы) и пластиковые карточки доступа, которые выдаются каждому сотруднику. Эти карточки несут в себе информацию о владельце: его личные данные, должность, режим работы. Также идет фиксирование точного времени, когда эта карточка использовалась для прохода на/с территории предприятия. Кроме пластиковых карт, для получения доступа могут быть использованы ключи-брелоки, стикеры, отпечатки пальцев, сканирование сетчатки глаза. Все формы получения доступа зависят от уровня системыконтроля и секретности объекта: самые простые и широко используемые – пластиковые карты, самые сложные (потому дорогие) – сканирование сетчатки глаза.
            .w-gap-md
            h3 Какие бы ни были носители информации, все СКУД состоит из:
            ul.decorated-list
                li.decorated-list__item Устройство идентификации (считыватель);
                li.decorated-list__item Контроллер
                li.decorated-list__item Исполнительное устройство (пропускное).
            p Вся система управляется компьютерной программой, которая не только контролирует доступ, но и ведет учет рабочего времени, записывает протокол всех событий. Многие СКУД оснащены охранной и противопожарной системой и подразделяются на 3 вида:
            ul.decorated-list
                li.decorated-list__item Автономная система – управляет доступом без передачи информации на контрольный пункт и не управляется оператором;
                li.decorated-list__item Центральная (сетевая) система контроля доступа – передает всю информацию о событиях на центральный пункт охраны и управляется оператором;
                li.decorated-list__item Универсальные системы – работают как автономные, так и, в случае необходимости, сетевые системы контроля доступом.
            p Монтаж и обслуживание такой сложной системы надо доверять только профессионалам в этой области, а именно специалистам ТОВ «ІБК «Територія Безпеки», которые имеют большой опыт, заработанный годами и упорным трудом. Позвоните нам, заключите договор на установку и техническое обслуживание СКУД  и убедитесь в нашем высоком профессионализме.

        .w-gap-lg
            .contact
                .contact__wrap
                    .w-center
                        h3#contacts.contact__title Всегда на связи!
                        .contact__text Готовы начать свой следующий проект с нами? Отлично! Позвоните нам или отправьте нам письмо, и мы свяжемся с вами как можно скорее!
                        .contact__icons
                            .contact__icon
                                a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                    .contact__phone +38 (066) 245 85 35

                            .contact__icon
                                a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                    .contact__phone +38 (044) 223 72 73
                            .contact__icon
                                a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                    .contact__phone t-security@ukr.net
                        .contact__btn-wrap
                            button.btn-secondary.popup-btn Связаться с нами
        footer.footer
            .msg-wrap
                .msg(onclick='gsapMsg.reverse()')
            .w-center
                .footer__wrap
                    a(href="/").footer__logo-wrap
                        .footer__logo
                            img(src="static/img/content/logo.svg" alt="logo")
                    .footer__menu
                        .footer__title Меню

                        ul.footer__list
                            li.footer__list-item
                                a.footer__menu-link.js-to-item(href="/") Главная
                            li.footer__list-item
                                a.footer__menu-link.js-to-item(href="/about.html") Компания
                            li.footer__list-item
                                a.footer__menu-link.js-to-item(href="/#contacts") Контакты
                    .footer__social-block
                        .footer__title Соц. сети
                        ul.footer__list
                            li.footer__list-item.footer__social
                                a.footer__menu-link.footer__fb(href="/")

                            li.footer__list-item.footer__social
                                a.footer__menu-link.footer__inst(href="/")

                            li.footer__list-item.footer__social
                                a.footer__menu-link.footer__telegram(href="/")

                    .footer__address
                        .footer__title Адрес
                        .footer__menu-text Проспект Победы,</br> 136, Київ, 03115