extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        header.header.js-header
            .w-center
                .header__wrapper.js-header-toggle
                    a(href="/").header__logo-wrap
                        .header__logo
                            img(src="static/img/content/logo.svg" alt="logo")
                    .header__burger-menu-wrap.js-header-burger
                        .header__burger-menu
                            span
                            span
                            span
                    nav.header__nav
                        .header__nav-wrap
                            .header__navi
                                ul.header__list.header__menu-inner
                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/") Главная
                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/about.html") Компания
                                    li.header__list-item.header__menu-item.drop-wrap

                                        .header__menu-link.header__list-link.active.header__link Услуги
                                        ul.header__dropdown
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/alarm.html') Монтаж систем охранной сигнализации
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/automation.html') Автоматизация и диспетчеризация</br> инженерных систем зданий
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/ckc.html') Задачи и преимущества СКС
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/electrical.html') Электромонтажные работы
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/fire.html') Установка автоматических систем противопожарной защиты
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/multimedia.html') Монтаж мультимедийных систем
                                            li.header__dropdown-item
                                                a.header__dropdown-link(href='/skud.html') Установка системы СКУД
                                            li.header__dropdown-item
                                                a.header__dropdown-link.active(href='/video.html') Установка систем видеонаблюдения

                                    li.header__list-item.header__menu-item
                                        a.header__menu-link.header__list-link.js-to-item(href="/#contacts") Контакты
                                    li.header__list-item.header__menu-item
                                        .btn-wrap
                                            button.btn.popup-btn Связаться с нами
        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text
                        h1 Установка систем</br> видеонаблюдения
                    .video-banner__video
                        video( autoplay muted)
                            source(src="static/img/content/1.mp4")
            .mouse
            p Система видеонаблюдения – это комплекс программного обеспечения, оборудования и комплектующих для надежной охраны территорий и объектов. В комплексную систему безопасности кроме видеонаблюдения может входить контроль доступа, пожарная и охранная сигнализация. Купить систему видеонаблюдения и заказать услуги монтажа в Николаеве, Киеве и на другой территории страны по доступной цене можно в компании ТОВ «ІБК «Територія Безпеки», воспользовавшись сайтом – t-security.com.ua.
            .w-gap-md
            h3 Функциональные возможности оборудования
            p Сегодня на смену аналоговой видеофиксации приходят новые IP и HDCVI технологии, обеспечивающие трансляцию и запись в разных форматах высокого качества – 720р и 1080р. Выбрать необходимый комплект наблюдения можно в каталоге интернет-магазина ТОВ «ІБК «Територія Безпеки». Также на сайте t-security.com.ua. можно посмотреть прайс на оборудование, а также на услуги составления проекта и установку. Стоимость комплекта оборудования зависит от количества каналов, использованной технологии (IP и HDCVI) и от бренда.
            .w-gap-md
            h3 Комплектация системы наблюдения
            p Основные функциональные возможности охранной системы видеослежения:

            ul.decorated-list
                li.decorated-list__item Круглосуточное обеспечение слежения и выведения информации на монитор или сохранение на видеорегистраторе. Информация фиксируется на жестком диске. В зависимости от площади охраняемого объекта устанавливают наблюдение от 4 каналов до 256 каналов.
                li.decorated-list__item Детектор движения в комплекте с видеокамерами воспроизводит запись при срабатывании датчика движения на движущийся объект. ИК подсветка в камерах системы видеонаблюдения позволяет вести запись в хорошем качестве в темное время.
                li.decorated-list__item Возможность устанавливать разные режимы записи – от непрерывного, до включения камер по необходимости.

            p Купить любой комплектации оборудование для видеонаблюдения можно на сайте t-security.com.ua. Нужно только отправить заявку и менеджер позвонит для уточнения нюансов заказа, а также проинформирует, сколько стоит комплект наблюдения в зависимости от используемой технологии и количества каналов.
            p Монтирование системы наблюдения проводится в соответствии с составленной проектной документацией. Специалисты компании ТОВ «ІБК «Територія Безпеки» помогут составить проектно-сметную документацию и смонтируют комплект оборудования для наблюдения. Заказать услуги по установке системы видеонаблюдения в Киеве и на другой территории Украины по доступной цене можно на сайте t-security.com.ua.
            .w-gap-md
            h3 Когда необходим монтаж видеонаблюдения
            p Установить охранную систему наблюдения необходимо в том случае, когда стоят такие задачи:

            ul.decorated-list
                li.decorated-list__item Охрана имущества частного дома, офиса или предприятия.
                li.decorated-list__item Охрана выпускаемой продукции и сырья в производственных цехах и на складах.
                li.decorated-list__item Если необходимо оставить ребенка с няней.
                li.decorated-list__item Фиксирование количества посетителей в заведении, и в какое время начинается поток людей.
                li.decorated-list__item Наблюдение за автомобилями на стоянке возле предприятия или офиса.
            .w-gap-md
            h3 Можно ли смонтировать комплект оборудования самостоятельно
            p Установка системы видеонаблюдения собственными силами возможна, но нужно обратить внимание на перечень недостатков, а потом принимать решение, проводить монтаж самому или доверить работу профессионалам:

            ul.decorated-list
                li.decorated-list__item Самостоятельно подобраны комплекты наблюдения, часто неэффективны. Могут быть несовместимы камеры и видеорегистратором или разные параметры мощности.
                li.decorated-list__item Неправильно подобраны комплектующие и не рассчитан правильно метраж кабелей, поэтому работы придется остановить и докупать недостающие детали.
                li.decorated-list__item Отсутствие узкоспециализированного оборудования и инструментов, которые надежно закрепят между собой все основные рабочие узлы системы.

            p Чтобы иметь качественное охранное наблюдение, нужно доверить установку системы видеонаблюдения профессиональным мастерам компании ТОВ «ІБК «Територія Безпеки».
            p Стоимость монтажа зависит от территории объекта и сложности проекта. Все цены на оборудование, комплектующие и услуги проектирования и установки указаны в прайсе.
            .w-gap-md
            h3 Преимущества сотрудничества с ТОВ «ІБК «Територія Безпеки»
            p Основными преимуществами установки и монтажа системы видеонаблюдения в ТОВ «ІБК «Територія Безпеки» являются:

            ul.decorated-list
                li.decorated-list__item Бесплатная консультация и выезд инженеров на объект.
                li.decorated-list__item Подбор оптимального комплекта оборудование.
                li.decorated-list__item Монтаж в удобное для заказчика время.
                li.decorated-list__item Оперативное и качественное выполнение работы.
            p Монтаж систем видеонаблюдения в компании ТОВ «ІБК «Територія Безпеки» – это гарантия безопасности охраняемого объекта.
    .w-gap-lg
        .contact
            .contact__wrap
                .w-center
                    h3#contacts.contact__title Всегда на связи!
                    .contact__text Готовы начать свой следующий проект с нами? Отлично! Позвоните нам или отправьте нам письмо, и мы свяжемся с вами как можно скорее!
                    .contact__icons
                        .contact__icon
                            a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                .contact__phone +38 (066) 245 85 35

                        .contact__icon
                            a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                .contact__phone +38 (044) 223 72 73
                        .contact__icon
                            a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                .contact__phone t-security@ukr.net
                    .contact__btn-wrap
                        button.btn-secondary.popup-btn Связаться с нами
    footer.footer
        .msg-wrap
            .msg(onclick='gsapMsg.reverse()')
        .w-center
            .footer__wrap
                a(href="/").footer__logo-wrap
                    .footer__logo
                        img(src="static/img/content/logo.svg" alt="logo")
                .footer__menu
                    .footer__title Меню

                    ul.footer__list
                        li.footer__list-item
                            a.footer__menu-link.js-to-item(href="/") Главная
                        li.footer__list-item
                            a.footer__menu-link.js-to-item(href="/about.html") Компания
                        li.footer__list-item
                            a.footer__menu-link.js-to-item(href="/#contacts") Контакты
                .footer__social-block
                    .footer__title Соц. сети
                    ul.footer__list
                        li.footer__list-item.footer__social
                            a.footer__menu-link.footer__fb(href="/")

                        li.footer__list-item.footer__social
                            a.footer__menu-link.footer__inst(href="/")

                        li.footer__list-item.footer__social
                            a.footer__menu-link.footer__telegram(href="/")

                .footer__address
                    .footer__title Адрес
                    .footer__menu-text Проспект Победы,</br> 136, Київ, 03115
