extends _page-template

block content
    | <!-- skin 1 -->

    .w-inner
        .w-center
            .video-banner
                .video-banner__wrap
                    .video-banner__text
                        h1.lng-video-title Відеоспостереження

                    .video-banner__video
                        video( autoplay muted)
                            source(src="static/img/content/1.mp4")
            .mouse
            .lng-video-text
                p Система відеоспостереження – це комплекс програмного забезпечення, обладнання апаратно-програмних засобів, призначена для здійснення відеоспостереження.

                .w-gap-md
                h3 Функціональні можливості обладнання

                p Сьогодні на зміну аналогової відеофіксації приходять нові IP та HDCVI технології, що забезпечують трансляцію та запис у різних форматах високої якості.

                p Цілодобове спостереження та виведення інформації на монітор або збереження інформації на відеореєстраторі. Інформація фіксується на жорсткому диску або у віддаленому "хмарі".

                p Детектор руху в комплекті з відеокамерами відтворює запис при спрацьовуванні датчика руху на об'єкт, що рухається. ІЧ підсвічування в камерах системи відеоспостереження дозволяє вести запис у високій якості в темний час доби.

                p Монтування системи спостереження проводиться відповідно до технічного завдання та складеної проектної документації.

                p Вартість монтажу залежить від території об'єкта та складності проекту.

                .w-gap-md
                h3 Ми гарантуємо:

                ul.decorated-list
                    li.decorated-list__item Безкоштовну консультацію та виїзд інженерів на об'єкт.
                    li.decorated-list__item Вибір оптимального комплекту обладнання.

                    li.decorated-list__item Монтаж у зручний для замовника час.
                    li.decorated-list__item Оперативне та якісне виконання роботи.
        .w-gap-lg
            .contact
                .w-center
                    .contact__wrap
                        .contact__left-side
                            h3#contacts.contact__title.lng-cbanner-title Завжди на зв'язку!
                            .contact__text.lng-cbanner-txt Чи готові почати свій наступний проект з нами? Чудово! Зателефонуйте нам або надішліть нам листа, і ми зв'яжемося з вами якнайшвидше!
                            .contact__icons
                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (066) 245 85 35")
                                        .contact__phone +38 (066) 245 85 35

                                .contact__icon
                                    a.contact__img.contact__phone-wrap(href="tel:+38 (044) 223 72 73")
                                        .contact__phone +38 (044) 223 72 73
                                .contact__icon
                                    a.contact__img.contact__mail-wrap(href="mailto:t-security@ukr.net")
                                        .contact__phone t-security@ukr.net
                            .contact__btn-wrap
                                button.btn-secondary.popup-btn.lng-cbanner-btn Зв'язатися з нами
                        .contact__right-side
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2540.1602730048103!2d30.3633147158837!3d50.456740094792465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cc91b1df271f%3A0xc4e7575dd6228554!2z0KLQpiBWTUIsINC_0YDQvtGB0L8uINCf0L7QsdC10LTRiywgMTM2LCDQmtC40LXQsiwgMDMxMTU!5e0!3m2!1sru!2sua!4v1658220407200!5m2!1sru!2sua" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>