mixin form()
    .form
        .form__wrap
            form.form__form(enctype="multipart/form-data" action="#" method="post" id="form" onsubmit="send(event, 'send-mail.php')")
                .lng-popup-inputs
                    .form__group
                        input.form__control(type="text" id='name' name="name" placeholder="Имя" required)
                    .form__group
                        input.form__control(type="text" id='phone' name="phone" placeholder="Телефон" required)
                    .form__group
                        input.form__control(type="text" id='email' name="email" placeholder="Email" required)
                    button.form__btn.btn(type="submit") Отправить